@charset "utf-8";

/****************************************/
/*	PART: RESET STYLE
/*	Version: 1.0
/*	Author:
/****************************************/

/*==========================================================================
Web Font
==========================================================================*/
@font-face {
  font-family: 'NanumBarunGothic';
  src: url(/pb/fr/com/css/webfont/NanumBarunGothic.eot);
  src: url(/pb/fr/com/css/webfont/NanumBarunGothic.eot?#iefix) format('embedded-opentype'),
       url(/pb/fr/com/css/webfont/NanumBarunGothic.woff) format('woff'),
       url(/pb/fr/com/css/webfont/NanumBarunGothic.ttf) format('truetype');
}
@font-face {
  font-family: 'NanumBarunGothicBold';
  src: url(/pb/fr/com/css/webfont/NanumBarunGothicBold.eot);
  src: url(/pb/fr/com/css/webfont/NanumBarunGothicBold.eot?#iefix) format('embedded-opentype'),
       url(/pb/fr/com/css/webfont/NanumBarunGothicBold.woff) format('woff'),
       url(/pb/fr/com/css/webfont/NanumBarunGothicBold.ttf) format('truetype');
}
@font-face {
  font-family: 'NanumGothic';
  src: url(/pb/fr/com/css/webfont/NanumGothic.eot);
  src: url(/pb/fr/com/css/webfont/NanumGothic.eot?#iefix) format('embedded-opentype'),
       url(/pb/fr/com/css/webfont/NanumGothic.woff) format('woff'),
       url(/pb/fr/com/css/webfont/NanumGothic.ttf) format('truetype');
}

@font-face {
  font-family: 'NanumGothicBold';
  font-style: normal;
  font-weight: 700;
  src: url(/pb/fr/com/css/webfont/NanumGothic-Bold.eot);
  src: url(/pb/fr/com/css/webfont/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),
       url(/pb/fr/com/css/webfont/NanumGothic-Bold.woff2) format('woff2'),
       url(/pb/fr/com/css/webfont/NanumGothic-Bold.woff) format('woff'),
       url(/pb/fr/com/css/webfont/NanumGothic-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'NanumGothicRegular';
  font-style: normal;
  font-weight: 400;
  src: url(/pb/fr/com/css/webfont/NanumGothic-Regular.eot);
  src: url(/pb/fr/com/css/webfont/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
       url(/pb/fr/com/css/webfont/NanumGothic-Regular.woff2) format('woff2'),
       url(/pb/fr/com/css/webfont/NanumGothic-Regular.woff) format('woff'),
       url(/pb/fr/com/css/webfont/NanumGothic-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'NanumGothicExtraBold';
  font-style: normal;
  font-weight: 800;
  src: url(/pb/fr/com/css/webfont/NanumGothic-ExtraBold.eot);
  src: url(/pb/fr/com/css/webfont/NanumGothic-ExtraBold.eot?#iefix) format('embedded-opentype'),
       url(/pb/fr/com/css/webfont/NanumGothic-ExtraBold.woff2) format('woff2'),
       url(/pb/fr/com/css/webfont/NanumGothic-ExtraBold.woff) format('woff'),
       url(/pb/fr/com/css/webfont/NanumGothic-ExtraBold.ttf) format('truetype');
}


/*==========================================================================
Custom - Style
==========================================================================*/

