<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ko">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>- 샘플링 | WELCOMELOAN PUBLISHING GUIDE -</title>
<link rel="stylesheet" type="text/css" href="/guide/com/css/guide.css" />
<script type="text/javascript" src=".././js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../../com/js/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="../../com/js/d_jquery.js"></script>
<script type="text/javascript" src="../../com/js/d_menu.js"></script>
<link rel="stylesheet" type="text/css" href="/pb/fr/com/css/cm.import.css"></script>

</head>

<body>

<div title="스킵메뉴" class="skipMenu">
	<a href="#wgHeader">주 메뉴 바로가기</a>
    <a href="#wgContainer">본문 내용 바로가기</a>
</div>
<hr />
<div id="wrapGuide">
	<!-- HEADER s --><script type="text/javascript">TopArea();gnbBox_init(3);</script><!-- HEADER e //-->
    <hr />
    <div id="wgContainer" class="layout2 clfix">
    	<!-- LNB s --><script type="text/javascript">LeftMenuSAM();lnb_menu('3','5');</script><!-- LNB e //-->
        <div id="wgContent" class="clfix">
        	<div class="titArea">
            	<h1>코멘트 유형</h1>
                <!--<p><script type="text/javascript">map.print(1,1,1);</script></p> -->
            </div>

			<!-- //여기서부터 내용 S -->
            <div id="g_container" class="wgDsc">
            	<p class="status"><strong>테이블 상단 오른쪽 주석</strong></p>

				<p class="txt_table_info"><span class="pointRe">*</span> 은 필수 입력사항 입니다.</p>
				
					
					
					<!-- //여기서부터 내용 E -->
<!-- //여기서부터 코드 S -->
<div id="cordBox1" class="cordBox type01 tag">
	<xmp>
<p class="txt_table_info"><span class="pointRe">*</span> 은 필수 입력사항 입니다.</p>
	</xmp>
</div>
<!-- //여기서부터 코드 E -->
<!-- //여기서부터 내용 S -->

            	<p class="status"><strong>하단 오른쪽 주석</strong></p>

				<p class="txt_comment_info"><span class="pointRe">*</span> 은 필수 입력사항 입니다.</p>
				
					
					
					<!-- //여기서부터 내용 E -->
<!-- //여기서부터 코드 S -->
<div id="cordBox1" class="cordBox type01 tag">
	<xmp>
<p class="txt_comment_info"><span class="pointRe">*</span> 은 필수 입력사항 입니다.</p>
	</xmp>
</div>
<!-- //여기서부터 코드 E -->

<!-- //여기서부터 내용 S -->
          
            	<p class="status"><strong>당구장 빨강불릿</strong></p>

				<p class="txt_table_info point01">타인의 주민번호 도용방지를 위한 본인 확인을 시행하고 있습니다. 아래의 범용인증서 인증 버튼을 클릭하셔서 인증 받으시기 바랍니다.</p>
				
					
					
					<!-- //여기서부터 내용 E -->
<!-- //여기서부터 코드 S -->
<div id="cordBox1" class="cordBox type01 tag">
	<xmp>
<p class="txt_table_info point01">타인의 주민번호 도용방지를 위한 본인 확인을 시행하고 있습니다. 아래의 범용인증서 인증 버튼을 클릭하셔서 인증 받으시기 바랍니다.</p>
	</xmp>
</div>
<!-- //여기서부터 코드 E -->


              <!--// g_container div -->
        </div><!--// wgContent div -->


        
    </div><!--// wgContainer div  -->
    
</div><!--// wrapGuide div -->
</body>
</html>
