<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ko">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title>- 샘플링 | WELCOMELOAN PUBLISHING GUIDE -</title>
	<link rel="stylesheet" type="text/css" href="/pb/fr/com/css/cm.import.css"></script>

	<link rel="stylesheet" type="text/css" href="/front/com/css/jh.css" />
	<script type="text/javascript" src="../../com/js/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="../../com/js/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="/front/com/js/jh.js"></script>
	<script type="text/javascript" src="../../com/js/d_jquery.js"></script>
<script type="text/javascript" src="../../com/js/d_menu.js"></script>
</head>

<body>

<div title="스킵메뉴" class="skipMenu">
	<a href="#wgHeader">주 메뉴 바로가기</a>
    <a href="#wgContainer">본문 내용 바로가기</a>
</div>
<hr />
<div id="wrapGuide">
	<!-- HEADER s --><script type="text/javascript">TopArea();gnbBox_init(3);</script><!-- HEADER e //-->
    <hr />
    <div id="wgContainer" class="layout2 clfix">
    	<!-- LNB s --><script type="text/javascript">LeftMenuSAM();lnb_menu('1','5');</script><!-- LNB e //-->
        <div id="wgContent" class="clfix">
        	<div class="titArea">
            	<h1>이미지 갤러리 목록</h1>
                <!--<p><script type="text/javascript">map.print(1,1,1);</script></p> -->
            </div>

			<!-- //여기서부터 내용 S -->
            <div id="g_container" class="wgDsc">
            	<p class="status"><strong>이미지 갤러리</strong></p>
					<!-- gallery -->
					<div class="gallery conSection">
						<div class="gallery_view">
							<img src="/front/img/com/temp/img_960x710.jpg" alt="해적이벤트사진" /> 
						</div><!-- //gallery_view -->
						
						<div class="galleyr_like">
							<span>17</span>
						</div><!-- //galleyr_like -->

						<div class="gallery_list">
							<span class="prev"><a href="#"><span class="hide">이전</span></a></span>
							<!-- D : 활성화 li 에 class="active" -->
							<div class="gallery_list_inner">
								<!-- //D, P : 이벤트 리스트 동적 생성 -->
							</div><!-- //gallery_list_inner -->
							<span class="next"><a href="#"><span class="hide">다음</span></a></span>
						</div><!-- //gallery_list -->
						
					</div>
					<!-- //gallery -->


					<!-- //여기서부터 내용 E -->
					<!-- //여기서부터 코드 S -->
					<div id="cordBox1" class="cordBox type01 tag">
						<xmp>   

						<script type="text/javascript" src="/front/com/js/jh.js"></script>
						<link rel="stylesheet" type="text/css" href="/front/com/css/jh.css" />
						<!-- // 위의 js 파일과 css를 함께 넣어주세요. -->

						<!-- // img_list s -->
										
						<!-- gallery -->
						<div class="gallery conSection">
							<div class="gallery_view">
								<img src="/front/img/com/temp/img_960x710.jpg" alt="해적이벤트사진" /> 
							</div><!-- //gallery_view -->
							
							<div class="galleyr_like">
								<span>17</span>
							</div><!-- //galleyr_like -->

							<div class="gallery_list">
								<span class="prev"><a href="#"><span class="hide">이전</span></a></span>
								<!-- D : 활성화 li 에 class="active" -->
								<div class="gallery_list_inner">
									<!-- //D, P : 이벤트 리스트 동적 생성 -->
								</div><!-- //gallery_list_inner -->
								<span class="next"><a href="#"><span class="hide">다음</span></a></span>
							</div><!-- //gallery_list -->
							
						</div>
						<!-- //gallery -->
						
									
						<!-- //img_list E -->
						</xmp>
					</div>
					<!-- //여기서부터 코드 E -->

              <!--// g_content div -->
              </div>
              <!--// g_container div -->
        </div><!--// wgContent div -->
        
    </div><!--// wgContainer div  -->
    
</div><!--// wrapGuide div -->
</body>
</html>
