<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ko">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>- 샘플링 | WELCOMELOAN PUBLISHING GUIDE -</title>
<link rel="stylesheet" type="text/css" href="/guide/com/css/guide.css" />
<script type="text/javascript" src=".././js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../../com/js/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="../../com/js/d_jquery.js"></script>
<script type="text/javascript" src="../../com/js/d_menu.js"></script>
<link rel="stylesheet" type="text/css" href="/pb/fr/com/css/cm.import.css"></script>

</head>

<body>

<div title="스킵메뉴" class="skipMenu">
	<a href="#wgHeader">주 메뉴 바로가기</a>
    <a href="#wgContainer">본문 내용 바로가기</a>
</div>
<hr />
<div id="wrapGuide">
	<!-- HEADER s --><script type="text/javascript">TopArea();gnbBox_init(3);</script><!-- HEADER e //-->
    <hr />
    <div id="wgContainer" class="layout2 clfix">
    	<!-- LNB s --><script type="text/javascript">LeftMenuSAM();lnb_menu('3','7');</script><!-- LNB e //-->
        <div id="wgContent" class="clfix">
        	<div class="titArea">
            	<h1>TAG 유형</h1>
                <!--<p><script type="text/javascript">map.print(1,1,1);</script></p> -->
            </div>

			<!-- //여기서부터 내용 S -->
            <div id="g_container" class="wgDsc">
            	<p class="status"><strong>TAG Large</strong></p>
				<!-- D: 활성화 단계 li에 on  -->
				<ul class="tag_list_02">
					<li class="ico_tag_01">인기</li>
					<li class="ico_tag_02">할인</li>
					<li class="ico_tag_03">신상품</li>
					<li class="ico_tag_04">PB</li>
					<li class="ico_tag_05">증정</li>
					<li class="ico_tag_06">1+1</li>
					<li class="ico_tag_07">2+1</li>
				</ul>
				
					
					
					<!-- //여기서부터 내용 E -->
<!-- //여기서부터 코드 S -->
<div id="cordBox1" class="cordBox type01 tag">
	<xmp>
<ul class="tag_list_02">
	<li class="ico_tag_01">인기</li>
	<li class="ico_tag_02">할인</li>
	<li class="ico_tag_03">신상품</li>
	<li class="ico_tag_04">PB</li>
	<li class="ico_tag_05">증정</li>
	<li class="ico_tag_06">1+1</li>
	<li class="ico_tag_07">2+1</li>
</ul>
	</xmp>
</div>
<!-- //여기서부터 코드 E -->

<!-- //여기서부터 내용 S -->
            <div id="g_container" class="wgDsc">
            	<p class="status"><strong>TAG Small</strong></p>
				<!-- D: 활성화 단계 li에 on  -->
				<ul class="tag_list_01">
						<li class="ico_tag_01">인기</li>
						<li class="ico_tag_02">할인</li>
						<li class="ico_tag_03">신상품</li>
						<li class="ico_tag_04">PB</li>
						<li class="ico_tag_05">증정</li>
						<li class="ico_tag_06">1+1</li>
						<li class="ico_tag_07">2+1</li>
				</ul>					
					<!-- //여기서부터 내용 E -->
<!-- //여기서부터 코드 S -->
<div id="cordBox1" class="cordBox type01 tag">
	<xmp>
<ul class="tag_list_01">
		<li class="ico_tag_01">인기</li>
		<li class="ico_tag_02">할인</li>
		<li class="ico_tag_03">신상품</li>
		<li class="ico_tag_04">PB</li>
		<li class="ico_tag_05">증정</li>
		<li class="ico_tag_06">1+1</li>
		<li class="ico_tag_07">2+1</li>
</ul>
	</xmp>
</div>
<!-- //여기서부터 코드 E -->



              <!--// g_content div -->
              </div>
              <!--// g_container div -->
        </div><!--// wgContent div -->


        
    </div><!--// wgContainer div  -->
    
</div><!--// wrapGuide div -->
</body>
</html>
