<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ko">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title>- 샘플링 | WELCOMELOAN PUBLISHING GUIDE -</title>
	<link rel="stylesheet" type="text/css" href="/pb/fr/com/css/cm.import.css"></script>

	<link rel="stylesheet" type="text/css" href="/front/com/css/jh.css" />
	<script type="text/javascript" src="../../com/js/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="../../com/js/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="/front/com/js/jh.js"></script>
	<script type="text/javascript" src="/front/com/js/json_test.js"></script>
</head>
<body>
	<!-- comment -->
	<div class="comment">
		<div class="comment_write">
			<!-- D : 활성화 a 에 class="on" -->
			<ul class="comment_write_social">
				<li class="social01"><a href="#" class="on"><span class="hide">트위터</span></a></li>
				<li class="social02"><a href="#"><span class="hide">페이스북</span></a></li>
				<li class="social03"><a href="#"><span class="hide">인스타그램</span></a></li>
			</ul>
			<div class="comment_write_inner">
				<form action="">
					<fieldset>
						<legend>댓글작성</legend>
						<textarea name="" id="" cols="30" rows="10">좌측 소셜(트위터/페이스북/인스타그램) 버튼 중 하나를 선택하여, 로그인 후 댓글을 남겨주세요!
(300byte 이내)
						</textarea>
						<span class="btn_reg"><a href="#">등록</a></span>
					</fieldset>
				</form>
			</div><!-- //comment_write_inner -->
		</div><!-- //comment_write -->

		<div class="comment_reply">
			<div class="reply_top">
				<p class="count_reply">총 <span>724</span>개의 댓글이 등록되었습니다.</p>
				<span>
					<select>
						<option value="">최신순</option>
					</select>
				</span>
			</div><!-- //reply_top -->
			<div class="reply_bottom">
				<ul>
					<li>
						<div class="reply_head">
							<img src="/front/img/com/temp/temp_reply_head.png" alt="" />
						</div>
						<div class="reply_body">
							<strong class="social_t">이정화</strong>
							<span class="re_date">2014-07-07</span>
							<span class="re_time">15:05:27</span>
							<!-- D : 최대 330byte 지정 -->
							<p>12345789/123456789/123456789/123456789/123456789/12345789/123456789/123456789/123456789/123456789 12345789/123456789/123456789/123456789/123456789/12345789/123456789/123456789/123456789/123456789 12345789/123456789/123456789/123456789/123456789/12345789/123456789/123456789/123456789/123456789/</p>
						</div>
						<div class="re_like">
							<a href="#">100</a>
						</div>
						<div class="btn_close">
							<span class="hide">닫기</span>
						</div>
					</li>
					<li>
						<div class="reply_head">
							<img src="/front/img/com/temp/temp_reply_head.png" alt="" />
						</div>
						<div class="reply_body">
							<strong class="social_f">이정화</strong>
							<span class="re_date">2014-07-07</span>
							<span class="re_time">15:05:27</span>
							<p>제 밤 꿈에 돼지 3마리가 나왔는데 이거 나를 위한 이벤트 인가요? </p>
						</div>
						<div class="re_like">
							<a href="#">100</a>
						</div>
						<div class="btn_close">
							<span class="hide">닫기</span>
						</div>
					</li>
					<li>
						<div class="reply_head">
							<img src="/front/img/com/temp/temp_reply_head.png" alt="" />
						</div>
						<div class="reply_body">
							<strong class="social_t">이정화</strong>
							<span class="re_date">2014-07-07</span>
							<span class="re_time">15:05:27</span>
							<p>제 밤 꿈에 돼지 3마리가 나왔는데 이거 나를 위한 이벤트 인가요? </p>
						</div>
						<div class="re_like">
							<a href="#">100</a>
						</div>
						<div class="btn_close">
							<span class="hide">닫기</span>
						</div>
					</li>
				</ul>
				<div class="reply_more">
					<a href="#">MORE</a>
				</div>
			</div><!--  reply_bottom -->
		</div><!-- //comment_reply -->
	</div>
	<!-- //comment -->
</body>
</html>