<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ko">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>- 샘플링 | WELCOMELOAN PUBLISHING GUIDE -</title>
<link rel="stylesheet" type="text/css" href="../../com/css/guide.css" />
<script type="text/javascript" src="../../com/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../../com/js/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="../../com/js/d_jquery.js"></script>
<script type="text/javascript" src="../../com/js/d_menu.js"></script>
<link rel="stylesheet" type="text/css" href="/pb/fr/com/css/cm.import.css"></script>
<style type="text/css">
.board_top {margin-bottom:50px}
.board_top .board_img {top:0}
#g_container .board_top .tit_signatories {font-size:16px; color:#fff}
</style>
</head>

<body>

<div title="스킵메뉴" class="skipMenu">
	<a href="#wgHeader">주 메뉴 바로가기</a>
    <a href="#wgContainer">본문 내용 바로가기</a>
</div>
<hr />
<div id="wrapGuide">
	<!-- HEADER s --><script type="text/javascript">TopArea();gnbBox_init(3);</script><!-- HEADER e //-->
    <hr />
    <div id="wgContainer" class="layout2 clfix">
    	<!-- LNB s --><script type="text/javascript">LeftMenuSAM();lnb_menu('1','2');</script><!-- LNB e //-->
        <div id="wgContent" class="clfix">
        	<div class="titArea">
            	<h1>읽기 유형</h1>
                <!--<p><script type="text/javascript">map.print(1,1,1);</script></p> -->
            </div>

			<!-- //여기서부터 내용 S -->
            <div id="g_container" class="wgDsc">
            	<p class="status"><strong>읽기 유형</strong></p>

				<div class="wrap_table">
					<table class="board_view" summary="기획 확인 요망">
						<caption>기획 확인 요망</caption>
						<colgroup>
							<col width="6%" />
							<col width="40%" />
							<col width="8%" />
							<col width="9%" />
							<col width="8%" />
							<col width="13%" />
							<col width="8%" />
							<col width="8%" />
						</colgroup>
						<tbody>
							<tr>
								<th scope="row">No.</th>
								<td>1350</td>
								<th scope="row">작성자</th>
								<td>이요한</td>
								<th scope="row">작성일</th>
								<td>2014-11-01</td>
								<th scope="row">조회수</th>
								<td>1146</td>
							</tr>
							<tr>
								<th scope="row">제목</th>
								<td colspan="7">고마워요</td>
							</tr>
							<tr>
								<td colspan="8" class="td_cont">
									
									다시 한번 웰컴론을 찾게되었는데 <br />
				여전히 친절하고 자세한 안내를 해주시는 분들과 <br /><br />
				
				제게 필요한 서비스를 정확하게 안내해주셔서 <br />
				너무너무 감사드립니다. <br /><br />
				
				항상 웰컴론 직원분들에게 감사드립니다, <br />
				일교차로 인하여 감기가 걸리기 쉬우니 <br />
				건강하시고 항상 행복한 일만 가득하시길!!!^^
									
								</td>
							</tr>
							<tr>
								<td colspan="8" class="td_cont reply">
									<span class="hide"><span class="ico_re">칭찬하기 댓글</span></span>
									<div class="var_box">
										<div class="var_box_inner">
									안녕하세요 이요한 고객님. <br />
10월 31일 대출 심사 업무 도와드린 상담원 권효중입니다. <br />
웰컴론을 방문해 주셔서 감사합니다. <br /><br />

먼저 바쁘신 와중에 이렇게 방문하여 글을 작성해주셔서 다시 한 번 감사 드립니다. <br />
첫 통화부터 대출실행까지 적극적으로 도움을 주셔서 빠르게 진행이 될 수 있었습니다. <br />
고객님의 말씀처럼 급하거나 갑작스레 어려울 상황일 때 또 전화 주시면 언제든지 도움을 드리겠습니다. <br />
모쪼록 일이 잘 해결 되셨다니 다행이고, 하시는 사업이 앞으로도 번창하시길 바라겠습니다^^ <br /><br />

저희 웰컴론에 깊은 관심을 표명해 주신 고객님께 다시 한번 감사의 인사를 올리며, <br />
건강관리 잘 하시고 고객의 입장에서 한번 더 생각하는 웰컴론이 되겠습니다.<br />
 감사합니다^^ 
										</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table><!-- board_view -->
				</div><!-- wrap_table -->
			
			<!-- //여기서부터 내용 E -->
<!-- //여기서부터 코드 S -->
<div id="cordBox1" class="cordBox type01 tag">
	<xmp>   
		<div class="wrap_table">
			<table class="board_view" summary="기획 확인 요망">
				<caption>기획 확인 요망</caption>
				<colgroup>
					<col width="6%" />
					<col width="40%" />
					<col width="8%" />
					<col width="9%" />
					<col width="8%" />
					<col width="13%" />
					<col width="8%" />
					<col width="8%" />
				</colgroup>
				<tbody>
					<tr>
						<th scope="row">No.</th>
						<td>1350</td>
						<th scope="row">작성자</th>
						<td>이요한</td>
						<th scope="row">작성일</th>
						<td>2014-11-01</td>
						<th scope="row">조회수</th>
						<td>1146</td>
					</tr>
					<tr>
						<th scope="row">제목</th>
						<td colspan="7">고마워요</td>
					</tr>
					<tr>
						<td colspan="8" class="td_cont">
							
							다시 한번 웰컴론을 찾게되었는데 <br />
		여전히 친절하고 자세한 안내를 해주시는 분들과 <br /><br />
		
		제게 필요한 서비스를 정확하게 안내해주셔서 <br />
		너무너무 감사드립니다. <br /><br />
		
		항상 웰컴론 직원분들에게 감사드립니다, <br />
		일교차로 인하여 감기가 걸리기 쉬우니 <br />
		건강하시고 항상 행복한 일만 가득하시길!!!^^
							
						</td>
					</tr>
					<tr>
						<td colspan="8" class="td_cont reply">
					<span class="hide"><span class="ico_re">칭찬하기 댓글</span></span>
									<div class="var_box">
										<div class="var_box_inner">
									안녕하세요 이요한 고객님. <br />
10월 31일 대출 심사 업무 도와드린 상담원 권효중입니다. <br />
웰컴론을 방문해 주셔서 감사합니다. <br /><br />

먼저 바쁘신 와중에 이렇게 방문하여 글을 작성해주셔서 다시 한 번 감사 드립니다. <br />
첫 통화부터 대출실행까지 적극적으로 도움을 주셔서 빠르게 진행이 될 수 있었습니다. <br />
고객님의 말씀처럼 급하거나 갑작스레 어려울 상황일 때 또 전화 주시면 언제든지 도움을 드리겠습니다. <br />
모쪼록 일이 잘 해결 되셨다니 다행이고, 하시는 사업이 앞으로도 번창하시길 바라겠습니다^^ <br /><br />

저희 웰컴론에 깊은 관심을 표명해 주신 고객님께 다시 한번 감사의 인사를 올리며, <br />
건강관리 잘 하시고 고객의 입장에서 한번 더 생각하는 웰컴론이 되겠습니다.<br />
 감사합니다^^ 
										</div>
									</div>
								</td>
					</tr>
				</tbody>
			</table><!-- board_view -->
		</div><!-- wrap_table -->
	</xmp>
</div>
<!-- //여기서부터 코드 E -->

              <!--// g_content div -->
              </div>
              <!--// g_container div -->
        </div><!--// wgContent div -->
        
    </div><!--// wgContainer div  -->
    
</div><!--// wrapGuide div -->
</body>
</html>
