<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ko">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>- 샘플링 | WELCOMELOAN PUBLISHING GUIDE -</title>
<link rel="stylesheet" type="text/css" href="/guide/com/css/guide.css" />
<script type="text/javascript" src=".././js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../../com/js/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="../../com/js/d_jquery.js"></script>
<script type="text/javascript" src="../../com/js/d_menu.js"></script>
<link rel="stylesheet" type="text/css" href="/pb/fr/com/css/cm.import.css"></script>
<script type="text/javascript" src="/front/com/js/fn.rollSlide.js"></script>
</head>

<body>

<div title="스킵메뉴" class="skipMenu">
	<a href="#wgHeader">주 메뉴 바로가기</a>
    <a href="#wgContainer">본문 내용 바로가기</a>
</div>
<hr />
<div id="wrapGuide">
	<!-- HEADER s --><script type="text/javascript">TopArea();gnbBox_init(3);</script><!-- HEADER e //-->
    <hr />
    <div id="wgContainer" class="layout2 clfix">
    	<!-- LNB s --><script type="text/javascript">LeftMenuSAM();lnb_menu('3','3');</script><!-- LNB e //-->
        <div id="wgContent" class="clfix">
        	<div class="titArea">
            	<h1>박스 스타일 유형</h1>
                <!--<p><script type="text/javascript">map.print(1,1,1);</script></p> -->
            </div>

			<!-- //여기서부터 내용 S -->
            <div id="g_container" class="wgDsc">
            	<p class="status"><strong>약관 박스 </strong></p>

				<div class="clause_box">
					<p>개인정보보호법</p>
					<span>
					제 35조 (개인정보의 열람)<br>
					① 정보주체는 개인정보처리자가 처리하는 자신의 개인정보에 대한 열람을 해당 개인정보처리자에게 요구할 수 있다.
					</span>
				</div>
					
					
					<!-- //여기서부터 내용 E -->
<!-- //여기서부터 코드 S -->
<div id="cordBox1" class="cordBox type01 tag">
	<xmp>
				<div class="clause_box">
					<p>개인정보보호법</p>
					<span>
					제 35조 (개인정보의 열람)<br>
					① 정보주체는 개인정보처리자가 처리하는 자신의 개인정보에 대한 열람을 해당 개인정보처리자에게 요구할 수 있다.
					</span>
				</div>
	</xmp>
</div>
<!-- //여기서부터 코드 E -->

              <!--// g_content div -->
              </div>
              <!--// g_container div -->
			<div id="g_container" class="wgDsc">
            	<p class="status"><strong>공지 박스 </strong></p>

				<div class="notice_box">
					<p>아이핀(i-PIN)은 방송통신위원회에서 주관하는 주민등록번호 대체수단으로 주민등록번호를 입력하지 않고 본인 확인을 할 수 있는 서비스 입니다.
</p>
					<p>이용안내관련 문의사항은 E-mail상담 또는 고객센터(1688-0001)를 이용해주시기 바랍니다.</p>
					<p>이용안내관련 문의사항은 E-mail상담 또는 고객센터(1688-0001)를 이용해주시기 바랍니다.</p>

				</div>
					
					
					<!-- //여기서부터 내용 E -->
<!-- //여기서부터 코드 S -->
<div id="cordBox1" class="cordBox type01 tag">
	<xmp>
				<div class="notice_box">
					<p>이용안내관련 문의사항은 E-mail상담 또는 고객센터(1688-0001)를 이용해주시기 바랍니다.</p>
					<p>이용안내관련 문의사항은 E-mail상담 또는 고객센터(1688-0001)를 이용해주시기 바랍니다.</p>
					<p>이용안내관련 문의사항은 E-mail상담 또는 고객센터(1688-0001)를 이용해주시기 바랍니다.</p>
					
				</div>
	</xmp>
</div>
<!-- //여기서부터 코드 E -->

<!-- //여기서부터 코드 E -->

              <!--// g_content div -->
              </div>
              <!--// g_container div -->
			<div id="g_container" class="wgDsc">
            	<p class="status"><strong>보유 항목 박스 </strong></p>

				<div class="boU_box">
					<dl>
						<dt><span>보유 항목</span></dt>
						<dd>
						<span>고객명, 주민등록번호, 성별, 결혼여부, 자택주소, 자택전화번호, 자택정보, 직장주소, 직장정보</span>
						</dd>
					</dl>
				</div>
					
					
					<!-- //여기서부터 내용 E -->
<!-- //여기서부터 코드 S -->
<div id="cordBox1" class="cordBox type01 tag">
	<xmp>
				<div class="boU_box">
					<dl>
						<dt><span>보유 항목</span></dt>
						<dd>
						<span>고객명, 주민등록번호, 성별, 결혼여부, 자택주소, 자택전화번호, 자택정보, 직장주소, 직장정보</span>
						</dd>
					</dl>
				</div>
	</xmp>
</div>
<!-- //여기서부터 코드 E -->


              <!--// g_content div -->
              </div>

        </div><!--// wgContent div -->


        
    </div><!--// wgContainer div  -->
    
</div><!--// wrapGuide div -->
</body>
</html>
