<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ko">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>- 샘플링 | WELCOMELOAN PUBLISHING GUIDE -</title>
<link rel="stylesheet" type="text/css" href="../../com/css/guide.css" />
<script type="text/javascript" src=".././js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../../com/js/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="../../com/js/d_jquery.js"></script>
<script type="text/javascript" src="../../com/js/d_menu.js"></script>
<link rel="stylesheet" type="text/css" href="/pb/fr/com/css/cm.import.css"></script>

</head>


<body>



<div title="스킵메뉴" class="skipMenu">
	<a href="#wgHeader">주 메뉴 바로가기</a>
    <a href="#wgContainer">본문 내용 바로가기</a>
</div>
<hr />
<div id="wrapGuide">
	<!-- HEADER s --><script type="text/javascript">TopArea();gnbBox_init(3);</script><!-- HEADER e //-->
    <hr />
    <div id="wgContainer" class="layout2 clfix">
    	<!-- LNB s --><script type="text/javascript">LeftMenuSAM();lnb_menu('1','1');</script><!-- LNB e //-->
        <div id="wgContent" class="clfix">
        	<div class="titArea">
            	<h1>게시판 목록 유형1</h1>
                <!--<p><script type="text/javascript">map.print(1,1,1);</script></p> -->
            </div>

			<!-- //여기서부터 내용 S -->
            <div id="g_container" class="wgDsc">
            	<p class="status"><strong>게시판 list</strong></p>
					<fieldset>
						<legend>키워드 검색</legend>
						<div class="board_align alR">
							<select id="searchType" name="searchType" title="검색 조건을 선택해 주세요">
								<option value="All">전체</option>
								<option value="title">제목</option>
								<option value="conts">내용</option>
								<option value="">제목+내용</option>
								<option value="">작성자</option>
							</select>
							<input type="text" title="검색어 입력" style="width:143px">
							<a href="#" class="btn_set btnSrc">조회</a>
						</div>
					</fieldset>
					<div class="wrap_table">
						<table class="board_list" summary="기획 확인 요망">
							<caption>기획 확인 요망</caption>
							<colgroup>
								<col width="9%" />
								<col width="57%" />
								<col width="10%" />
								<col width="15%" />
								<col width="9%" />
							</colgroup>
							<thead>
								<tr>
									<th scope="col">No.</th>
									<th scope="col">작성일</th>
									<th scope="col">작성자</th>
									<th scope="col">작성일</th>
									<th scope="col">조회수</th>
								</tr>
							</thead>
							<tbody>
								
								<tr>
									<th scope="row">1350</th>
									<td class="alL"><a href="#">123456789/12345<span class="ico_re">댓글</span></a></td>
									<td>김현아</td>
									<td>2014-11-01</td>
									<td>40</td>
								</tr>
							
								<!-- D: 게시글 10개씩 -->
								<tr>
									<th scope="row">1333</th>
									<td class="alL"><a href="#">게시물 제목이 나타납니다.<span class="ico_re">댓글</span></a></td>
									<td>이요환</td>
									<td>2014-11-01</td>
									<td>40</td>
								</tr>
								<!-- //D: 게시글 10개씩 -->
								<!-- D: 게시물이 없을때 -->
								<tr>
									<td colspan="5" class="no_data">등록된 게시물이 없습니다.</td>
								</tr>
								<!-- //D: 게시물이 없을때 -->
							</tbody>
						</table>
					</div>
					<!-- //여기서부터 내용 E -->
<!-- //여기서부터 코드 S -->
<div id="cordBox1" class="cordBox type01 tag">
	<xmp>   
<div class="wrap_table">
	<fieldset>
		<legend>키워드 검색</legend>
		<div class="board_align alR">
			<select id="searchType" name="searchType" title="검색 조건을 선택해 주세요">
				<option value="All">전체</option>
				<option value="title">제목</option>
				<option value="conts">내용</option>
				<option value="">제목+내용</option>
				<option value="">작성자</option>
			</select>
			<input type="text" title="검색어 입력" style="width:143px">
			<a href="#" class="btn_set btnSrc">조회</a>
		</div>
	</fieldset>
	<table class="board_list" summary="기획 확인 요망">
		<caption>기획 확인 요망</caption>
		<colgroup>
			<col width="8%" />
			<col width="59%" />
			<col width="10%" />
			<col width="15%" />
			<col width="8%" />
		</colgroup>
		<thead>
			<tr>
				<th scope="col">No.</th>
				<th scope="col">작성일</th>
				<th scope="col">작성자</th>
				<th scope="col">작성일</th>
				<th scope="col">조회수</th>
			</tr>
		</thead>
		<tbody>
			
			<tr>
				<th scope="row">1350</th>
				<td class="alL"><a href="#">게시물 제목이 나타납니다.<span class="ico_re">댓글</span></a></td>
				<td>김현아</td>
				<td>2014-11-01</td>
				<td>40</td>
			</tr>
			
			<!-- D: 게시글 10개씩 -->
			<tr>
				<th scope="row">1333</th>
				<td class="alL"><a href="#">게시물 제목이 나타납니다.<span class="ico_re">댓글</span></a></td>
				<td>이요환</td>
				<td>2014-11-01</td>
				<td>40</td>
			</tr>
			<!-- //D: 게시글 10개씩 -->
			<!-- D: 게시물이 없을때 -->
			<tr>
				<td colspan="5" class="no_data">등록된 게시물이 없습니다.</td>
			</tr>
			<!-- //D: 게시물이 없을때 -->
		</tbody>
	</table>
</div><!-- //wrap_table -->
	</xmp>
</div>
<!-- //여기서부터 코드 E -->

              <!--// g_content div -->
              </div>
              <!--// g_container div -->
        </div><!--// wgContent div -->
        
    </div><!--// wgContainer div  -->
    
</div><!--// wrapGuide div -->
</body>
</html>
