<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ko">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>- 샘플링 | WELCOMELOAN PUBLISHING GUIDE -</title>
<link rel="stylesheet" type="text/css" href="../../com/css/guide.css" />
<link rel="stylesheet" type="text/css" href="/pb/fr/com/css/cm.import.css"></script>
<script type="text/javascript" src=".././js/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
<script type="text/javascript" src="../../com/js/d_jquery.js"></script>
<script type="text/javascript" src="../../com/js/d_menu.js"></script>
<script type="text/javascript" src="/front/com/js/cm.design.js"></script>
<script type="text/javascript" src="/front/com/js/cm.jQuery.ui.js"></script>
<script type="text/javascript" src="/front/com/js/jquery.ui.core.js"></script>
<script type="text/javascript" src="/front/com/js/jquery.ui.datepicker.js"></script>

<script type="text/javascript">
$(function(){
	$('.datepicker').datepicker({
		showOn: "button",
		buttonImage: "images/calendar.gif",
		buttonImageOnly: true,
		buttonText: "Select date"
	});
})
</script>
</head>

<body>

<div title="스킵메뉴" class="skipMenu">
	<a href="#wgHeader">주 메뉴 바로가기</a>
    <a href="#wgContainer">본문 내용 바로가기</a>
</div>
<hr />
<div id="wrapGuide">
	<!-- HEADER s --><script type="text/javascript">TopArea();gnbBox_init(3);</script><!-- HEADER e //-->
    <hr />
    <div id="wgContainer" class="layout2 clfix">
    	<!-- LNB s --><script type="text/javascript">LeftMenuSAM();lnb_menu('3','1');</script><!-- LNB e //-->
        <div id="wgContent" class="clfix">
        	<div class="titArea">
            	<h1>버튼 유형</h1>
                <!--<p><script type="text/javascript">map.print(1,1,1);</script></p> -->
            </div>

			<!-- //여기서부터 내용 S -->
            <div id="g_container" class="wgDsc">
            	<p class="status"><strong>일반 버튼</strong></p>
				<div class="btn_bbs">
					<a href="#" class="btn_set btnGy h40">조회</a>
					<a href="#" class="btn_set btnOran">추가정보 입력</a>
				</div>

				
				<p class="status"><strong>검색 버튼</strong></p>
				<a href="#" class="btn_set btnSrc">검색</a>

				<p class="status"><strong>수정 버튼</strong></p>
				<a href="#" class="btn_set btnGy2">수정불가</a>

				<p class="status"><strong>연계 버튼</strong></p>
				<div class="btn_bbs">
					<a href="#" class="btn_set btnOran gotoBig "><span>즉시 신청하기</span></a>
					<a href="#" class="btn_set btnGy2 gotoBig "><span>즉시 신청하기</span></a>
				</div>

			


					<!-- //여기서부터 내용 E -->
<!-- //여기서부터 코드 S -->
<div id="cordBox1" class="cordBox type01 tag">
	<xmp>   
<p class="status"><strong>일반 버튼</strong></p>
<div class="btn_bbs">
	<a href="#" class="btn_set btnGy h40">조회</a>
	<a href="#" class="btn_set btnOran">추가정보 입력</a>
</div>

				
<p class="status"><strong>검색 버튼</strong></p>
<a href="#" class="btn_set btnSrc">검색</a>

<p class="status"><strong>수정 버튼</strong></p>
<a href="#" class="btn_set btnGy2">수정불가</a>

<p class="status"><strong>연계 버튼</strong></p>
<div class="btn_bbs">
	<a href="#" class="btn_set btnOran gotoBig "><span>즉시 신청하기</span></a>
	<a href="#" class="btn_set btnGy2 gotoBig "><span>즉시 신청하기</span></a>
</div>

	</xmp>
</div>
<!-- //여기서부터 코드 E -->

              <!--// g_content div -->
              </div>
              <!--// g_container div -->
        </div><!--// wgContent div -->
        
    </div><!--// wgContainer div  -->
    
</div><!--// wrapGuide div -->
</body>
</html>
