<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ko" xml:lang="ko">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="imagetoolbar" content="no" />
	<meta name="Author" content="http://www.7-eleven.co.kr/" />
	<meta name="keywords" content="7-ELEVEN, 세븐일레븐" />
	<meta name="description" content="세븐일레븐" />
	<title>- 샘플링 | WELCOMELOAN PUBLISHING GUIDE -</title>
	<link rel="stylesheet" type="text/css" href="/management/com/css/cm.import.ko.css" />
</head>
<body class="wrap_pop">
	<div class="layer_header">
		<p><img src="/front/img/com/bul_logo.png"  alt="7-ELEVEN" /></p>
	</div>
	<div class="popBody">
		<h1 class="tit_2depth type02">제안 선택하세요.</h1>
		
		<div class="tbl_wrap d_type">
			<table class="tbl_data" summary="Search Text 게시판 게시물 조회 테이블 입니다.">
				<caption>Search Text 게시판 조회</caption>
				<colgroup>
					<col width="20%">
					<col width="80%">
				</colgroup>
				<tbody>
					<tr>
						<th scope="row"><span>등록일</span></th>
						<td>
							<div class="td_cont">
								<input type="text" id="searchSDate" name="searchSDate" title="Enter the start date." style="width:109px;" value=""> <a href="#" class="ico_calenda btn_layerPop pos_layer"><img src="/management/img/com/ico_cal.gif" alt=""></a><span class="dash">~</span> <input type="text" id="searchEDate" name="searchEDate" title="Enter the end date." style="width:109px;" value=""> <a href="#" class="ico_calenda btn_layerPop pos_layer"><img src="/management/img/com/ico_cal.gif" alt=""></a>
							</div>
						</td>
					</tr>
					<tr>
						<th scope="row"><span><label for="searchLocal">지역</label></span></th>
						<td>
							<div class="td_cont">
								<select id="searchLocal" title="시/도를 선택해주세요">
									<option value="">선택해주세요</option>
								</select>
								<select id="searchLocal2" title="군/구를 선택해주세요">
									<option value="">선택해주세요</option>
								</select>
							</div>
						</td>
					</tr>
					<tr>
						<th scope="row"><span><label for="searchPro">직접검색</label></span></th>
						<td>
							<div class="td_cont">
								<select id="searchPro" title="군/구를 선택해주세요">
									<option value="">선택해주세요</option>
								</select>
								<input type="text" id="searchPro2" value="" style="width:200px" />
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="wrap_btn">
			<a href="#" class="btn_set btnGy">최기화</a>
			<a href="#" class="btn_set btnRe">검색</a>
		</div>
		
		<div class="wrap_list">
			<ul>
				<li>
					<label for="radioTit01"><input type="radio" name="radioGroup" id="radioTit01" /><span class="tit">제안 제목입니다</span></label>
					<span class="store">[지점]</span>
					<span class="name">[작성자]</span>
					<span class="date">2014.08.08</span>
				</li>
				<li>
					<label for="radioTit02"><input type="radio" name="radioGroup" id="radioTit02" /><span class="tit">제안 제목입니다</span></label>
					<span class="store">[지점]</span>
					<span class="name">[작성자]</span>
					<span class="date">2014.08.08</span>
				</li>
			</ul>
		</div>
		<div class="btn_bbs alC">
			<a href="#" class="btn_set btnRe layer_close">엑셀 다운로드</a>
		</div>
	</div>

	

	

</body>
</html>
