<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ko" xml:lang="ko">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="imagetoolbar" content="no" />
	<meta name="Author" content="http://www.7-eleven.co.kr/" />
	<meta name="keywords" content="7-ELEVEN, 세븐일레븐" />
	<meta name="description" content="세븐일레븐" />
	<title>- 샘플링 | WELCOMELOAN PUBLISHING GUIDE -</title>
	<link rel="stylesheet" type="text/css" href="/management/com/css/cm.import.ko.css" />



</head>
<body class="wrap_pop">
	<div class="layer_header">
		<p><img src="/front/img/com/bul_logo.png"  alt="7-ELEVEN" /></p>
	</div>
	<div class="popBody">
		<h1 class="tit_2depth type02">입찰자현황입니다.</h1>
		<div class="wrap_list">
			<ul>
				<li>
					<strong class="name">조민진</strong>
					<span class="point">2000p</span>
					<span class="date">2014.08.08</span>
					<span class="time">06:00</span>
				</li>
				<li>
					<strong class="name">조민진</strong>
					<span class="point">2000p</span>
					<span class="date">2014.08.08</span>
					<span class="time">06:00</span>
				</li>
			</ul>
		</div>
		<div class="btn_bbs alC">
			<a href="#" class="btn_set btnRe layer_close">엑셀 다운로드</a>
		</div>
	</div>

	

	

</body>
</html>
