<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ko">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>- 샘플링 | WELCOMELOAN PUBLISHING GUIDE -</title>
<link rel="stylesheet" type="text/css" href="../../com/css/guide.css" />
<link rel="stylesheet" type="text/css" href="/pb/fr/com/css/cm.import.css"></script>
<script type="text/javascript" src=".././js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../../com/js/d_jquery.js"></script>
<script type="text/javascript" src="../../com/js/d_menu.js"></script>
<script type="text/javascript" src="/front/com/js/cm.design.js"></script>
<script type="text/javascript" src="/front/com/js/cm.jQuery.ui.js"></script>
</head>

<body>

<div title="스킵메뉴" class="skipMenu">
	<a href="#wgHeader">주 메뉴 바로가기</a>
    <a href="#wgContainer">본문 내용 바로가기</a>
</div>
<hr />
<div id="wrapGuide">
	<!-- HEADER s --><script type="text/javascript">TopArea();gnbBox_init(3);</script><!-- HEADER e //-->
    <hr />
    <div id="wgContainer" class="layout2 clfix">
    	<!-- LNB s --><script type="text/javascript">LeftMenuSAM();lnb_menu('4','2');</script><!-- LNB e //-->
        <div id="wgContent" class="clfix">
        	<div class="titArea">
            	<h1>이미지 리스트 유형</h1>
                <!--<p><script type="text/javascript">map.print(1,1,1);</script></p> -->
            </div>

			<!-- //여기서부터 내용 S -->
            <div id="g_container" class="wgDsc">
            	<p class="status"><strong>이미지 list 2</strong></p>
					<!-- // img_list s -->
					<div class="img_list img_list_02">
					<h2 class="hide">증정행사</h2>
						<ul>
							<li><span>증정<br/>행사</span></li>
							<li><ul class="tag_list_01">
										<li class="ico_tag_01">인기</li>
										<li class="ico_tag_02">할인</li>
										<li class="ico_tag_03">신상품</li>
										<li class="ico_tag_04">PB</li>
								</ul>
								<a href="#" class="btn_product_01"><img src="/front/img/product/temp/temp_product_01.jpg"  alt="사골미역국밥" /></a>
								<dl class="product_content">	
									<dt><span class="tit_product">사골미역국밥...</span>
										<span class="like_wrap_01">
											<span class="ico_like_01"><span class="hide">좋아요</span></span>
											<span class="ico_like_02">
												<span class="ico_like_02_in">22</span>
											</span>
										</span>
									</dt>
									<dd class="txt_product">초코별은 코코아 분말이 7.8%, 코코아매스가 1.3% 함유되어 있어...</dd>
									<dd class="price_list">
										
										<span>999,888원</span>
									</dd>
								</dl>
								<a href="#" class="btn_product_02">
									<img src="/front/img/product/temp/temp_product_02.jpg"  alt="증정 스윙칩" />
									<span class="ico_present hide">증정</span>
									<span class="product_layer">
										<strong>The 커진<br />삼각김밥 3종</strong>
										<span class="txt_price">999,888원</span>
										<span class="like_wrap">
											<span class="ico_like_01"><span class="hide">좋아요</span></span>
											<span class="ico_like_02">
												<span class="ico_like_02_in">22</span>
											</span>
										</span>
									</span>
								</a>
							</li>
							<li><ul class="tag_list_01">
										<li class="ico_tag_01">인기</li>
										<li class="ico_tag_02">할인</li>
										<li class="ico_tag_03">신상품</li>
										<li class="ico_tag_04">PB</li>
								</ul>
								<a href="#" class="btn_product_01"><img src="/front/img/product/temp/temp_product_01.jpg"  alt="사골미역국밥" /></a>
								<dl class="product_content">	
									<dt><span class="tit_product">사골미역국밥...</span>
										<span class="like_wrap_01">
											<span class="ico_like_01"><span class="hide">좋아요</span></span>
											<span class="ico_like_02">
												<span class="ico_like_02_in">22</span>
											</span>
										</span>
									</dt>
									<dd class="txt_product">초코별은 코코아 분말이 7.8%, 코코아매스가 1.3% 함유되어 있어...</dd>
									<dd class="price_list">
										
										<span>999,888원</span>
									</dd>
								</dl>
								<a href="#" class="btn_product_02">
									<img src="/front/img/product/temp/temp_product_02.jpg"  alt="증정 스윙칩" />
									<span class="ico_present hide">증정</span>
									<span class="product_layer">
										<strong>The 커진<br />삼각김밥 3종</strong>
										<span class="txt_price">999,888원</span>
										<span class="like_wrap">
											<span class="ico_like_01"><span class="hide">좋아요</span></span>
											<span class="ico_like_02">
												<span class="ico_like_02_in">22</span>
											</span>
										</span>
									</span>
								</a>
							</li>
							<li><ul class="tag_list_01">
										<li class="ico_tag_01">인기</li>
										<li class="ico_tag_02">할인</li>
										<li class="ico_tag_03">신상품</li>
										<li class="ico_tag_04">PB</li>
								</ul>
								<a href="#" class="btn_product_01"><img src="/front/img/product/temp/temp_product_01.jpg"  alt="사골미역국밥" /></a>
								<dl class="product_content">	
									<dt><span class="tit_product">사골미역국밥...</span>
										<span class="like_wrap_01">
											<span class="ico_like_01"><span class="hide">좋아요</span></span>
											<span class="ico_like_02">
												<span class="ico_like_02_in">22</span>
											</span>
										</span>
									</dt>
									<dd class="txt_product">초코별은 코코아 분말이 7.8%, 코코아매스가 1.3% 함유되어 있어...</dd>
									<dd class="price_list">
										
										<span>999,888원</span>
									</dd>
								</dl>
								<a href="#" class="btn_product_02">
									<img src="/front/img/product/temp/temp_product_02.jpg"  alt="증정 스윙칩" />
									<span class="ico_present hide">증정</span>
									<span class="product_layer">
										<strong>The 커진<br />삼각김밥 3종</strong>
										<span class="txt_price">999,888원</span>
										<span class="like_wrap">
											<span class="ico_like_01"><span class="hide">좋아요</span></span>
											<span class="ico_like_02">
												<span class="ico_like_02_in">22</span>
											</span>
										</span>
									</span>
								</a>
							</li>
							<li><ul class="tag_list_01">
										<li class="ico_tag_01">인기</li>
										<li class="ico_tag_02">할인</li>
										<li class="ico_tag_03">신상품</li>
										<li class="ico_tag_04">PB</li>
								</ul>
								<a href="#" class="btn_product_01"><img src="/front/img/product/temp/temp_product_01.jpg"  alt="사골미역국밥" /></a>
								<dl class="product_content">	
									<dt><span class="tit_product">사골미역국밥...</span>
										<span class="like_wrap_01">
											<span class="ico_like_01"><span class="hide">좋아요</span></span>
											<span class="ico_like_02">
												<span class="ico_like_02_in">22</span>
											</span>
										</span>
									</dt>
									<dd class="txt_product">초코별은 코코아 분말이 7.8%, 코코아매스가 1.3% 함유되어 있어...</dd>
									<dd class="price_list">
										
										<span>999,888원</span>
									</dd>
								</dl>
								<a href="#" class="btn_product_02">
									<img src="/front/img/product/temp/temp_product_02.jpg"  alt="증정 스윙칩" />
									<span class="ico_present hide">증정</span>
									<span class="product_layer">
										<strong>The 커진<br />삼각김밥 3종</strong>
										<span class="txt_price">999,888원</span>
										<span class="like_wrap">
											<span class="ico_like_01"><span class="hide">좋아요</span></span>
											<span class="ico_like_02">
												<span class="ico_like_02_in">22</span>
											</span>
										</span>
									</span>
								</a>
							</li>
							<li><ul class="tag_list_01">
										<li class="ico_tag_01">인기</li>
										<li class="ico_tag_02">할인</li>
										<li class="ico_tag_03">신상품</li>
										<li class="ico_tag_04">PB</li>
								</ul>
								<a href="#" class="btn_product_01"><img src="/front/img/product/temp/temp_product_01.jpg"  alt="사골미역국밥" /></a>
								<dl class="product_content">	
									<dt><span class="tit_product">사골미역국밥...</span>
										<span class="like_wrap_01">
											<span class="ico_like_01"><span class="hide">좋아요</span></span>
											<span class="ico_like_02">
												<span class="ico_like_02_in">22</span>
											</span>
										</span>
									</dt>
									<dd class="txt_product">초코별은 코코아 분말이 7.8%, 코코아매스가 1.3% 함유되어 있어...</dd>
									<dd class="price_list">
										
										<span>999,888원</span>
									</dd>
								</dl>
								<a href="#" class="btn_product_02">
									<img src="/front/img/product/temp/temp_product_02.jpg"  alt="증정 스윙칩" />
									<span class="ico_present hide">증정</span>
									<span class="product_layer">
										<strong>The 커진<br />삼각김밥 3종</strong>
										<span class="txt_price">999,888원</span>
										<span class="like_wrap">
											<span class="ico_like_01"><span class="hide">좋아요</span></span>
											<span class="ico_like_02">
												<span class="ico_like_02_in">22</span>
											</span>
										</span>
									</span>
								</a>
							</li>
							<li><ul class="tag_list_01">
										<li class="ico_tag_01">인기</li>
										<li class="ico_tag_02">할인</li>
										<li class="ico_tag_03">신상품</li>
										<li class="ico_tag_04">PB</li>
								</ul>
								<a href="#" class="btn_product_01"><img src="/front/img/product/temp/temp_product_01.jpg"  alt="사골미역국밥" /></a>
								<dl class="product_content">	
									<dt><span class="tit_product">사골미역국밥...</span>
										<span class="like_wrap_01">
											<span class="ico_like_01"><span class="hide">좋아요</span></span>
											<span class="ico_like_02">
												<span class="ico_like_02_in">22</span>
											</span>
										</span>
									</dt>
									<dd class="txt_product">초코별은 코코아 분말이 7.8%, 코코아매스가 1.3% 함유되어 있어...</dd>
									<dd class="price_list">
										
										<span>999,888원</span>
									</dd>
								</dl>
								<a href="#" class="btn_product_02">
									<img src="/front/img/product/temp/temp_product_02.jpg"  alt="증정 스윙칩" />
									<span class="ico_present hide">증정</span>
									<span class="product_layer">
										<strong>The 커진<br />삼각김밥 3종</strong>
										<span class="txt_price">999,888원</span>
										<span class="like_wrap">
											<span class="ico_like_01"><span class="hide">좋아요</span></span>
											<span class="ico_like_02">
												<span class="ico_like_02_in">22</span>
											</span>
										</span>
									</span>
								</a>
							</li>
							<li><ul class="tag_list_01">
										<li class="ico_tag_01">인기</li>
										<li class="ico_tag_02">할인</li>
										<li class="ico_tag_03">신상품</li>
										<li class="ico_tag_04">PB</li>
								</ul>
								<a href="#" class="btn_product_01"><img src="/front/img/product/temp/temp_product_01.jpg"  alt="사골미역국밥" /></a>
								<dl class="product_content">	
									<dt><span class="tit_product">사골미역국밥...</span>
										<span class="like_wrap_01">
											<span class="ico_like_01"><span class="hide">좋아요</span></span>
											<span class="ico_like_02">
												<span class="ico_like_02_in">22</span>
											</span>
										</span>
									</dt>
									<dd class="txt_product">초코별은 코코아 분말이 7.8%, 코코아매스가 1.3% 함유되어 있어...</dd>
									<dd class="price_list">
										
										<span>999,888원</span>
									</dd>
								</dl>
								<a href="#" class="btn_product_02">
									<img src="/front/img/product/temp/temp_product_02.jpg"  alt="증정 스윙칩" />
									<span class="ico_present hide">증정</span>
									<span class="product_layer">
										<strong>The 커진<br />삼각김밥 3종</strong>
										<span class="txt_price">999,888원</span>
										<span class="like_wrap">
											<span class="ico_like_01"><span class="hide">좋아요</span></span>
											<span class="ico_like_02">
												<span class="ico_like_02_in">22</span>
											</span>
										</span>
									</span>
								</a>
							</li>


							
							<li class="btn_more"><a href="#"><span>MORE</span></a></li>

						</ul>
					</div>
					<!-- //img_list E -->


					<!-- //여기서부터 내용 E -->
<!-- //여기서부터 코드 S -->
<div id="cordBox1" class="cordBox type01 tag">
	<xmp>   

	<script type="text/javascript" src="/front/com/js/w.js"></script>
	<link rel="stylesheet" type="text/css" href="/front/com/css/w.css" />
	<!-- // 위의 js 파일과 css를 함께 넣어주세요. -->

	<!-- // img_list s -->
	<div class="img_list img_list_02">
	<h2 class="hide">증정행사</h2>
		<ul>
			<li><span>증정<br/>행사</span></li>
			<li><ul class="tag_list_01">
										<li class="ico_tag_01">인기</li>
										<li class="ico_tag_02">할인</li>
										<li class="ico_tag_03">신상품</li>
										<li class="ico_tag_04">PB</li>
								</ul>
								<a href="#" class="btn_product_01"><img src="/front/img/product/temp/temp_product_01.jpg"  alt="사골미역국밥" /></a>
								<dl class="product_content">	
									<dt><span class="tit_product">사골미역국밥...</span>
										<span class="like_wrap_01">
											<span class="ico_like_01"><span class="hide">좋아요</span></span>
											<span class="ico_like_02">
												<span class="ico_like_02_in">22</span>
											</span>
										</span>
									</dt>
									<dd class="txt_product">초코별은 코코아 분말이 7.8%, 코코아매스가 1.3% 함유되어 있어...</dd>
									<dd class="price_list">
										
										<span>999,888원</span>
									</dd>
								</dl>
								<a href="#" class="btn_product_02">
									<img src="/front/img/product/temp/temp_product_02.jpg"  alt="증정 스윙칩" />
									<span class="ico_present hide">증정</span>
									<span class="product_layer">
										<strong>The 커진<br />삼각김밥 3종</strong>
										<span class="txt_price">999,888원</span>
										<span class="like_wrap">
											<span class="ico_like_01"><span class="hide">좋아요</span></span>
											<span class="ico_like_02">
												<span class="ico_like_02_in">22</span>
											</span>
										</span>
									</span>
								</a>
			</li>
			<li><ul class="tag_list_01">
										<li class="ico_tag_01">인기</li>
										<li class="ico_tag_02">할인</li>
										<li class="ico_tag_03">신상품</li>
										<li class="ico_tag_04">PB</li>
								</ul>
								<a href="#" class="btn_product_01"><img src="/front/img/product/temp/temp_product_01.jpg"  alt="사골미역국밥" /></a>
								<dl class="product_content">	
									<dt><span class="tit_product">사골미역국밥...</span>
										<span class="like_wrap_01">
											<span class="ico_like_01"><span class="hide">좋아요</span></span>
											<span class="ico_like_02">
												<span class="ico_like_02_in">22</span>
											</span>
										</span>
									</dt>
									<dd class="txt_product">초코별은 코코아 분말이 7.8%, 코코아매스가 1.3% 함유되어 있어...</dd>
									<dd class="price_list">
										
										<span>999,888원</span>
									</dd>
								</dl>
								<a href="#" class="btn_product_02">
									<img src="/front/img/product/temp/temp_product_02.jpg"  alt="증정 스윙칩" />
									<span class="ico_present hide">증정</span>
									<span class="product_layer">
										<strong>The 커진<br />삼각김밥 3종</strong>
										<span class="txt_price">999,888원</span>
										<span class="like_wrap">
											<span class="ico_like_01"><span class="hide">좋아요</span></span>
											<span class="ico_like_02">
												<span class="ico_like_02_in">22</span>
											</span>
										</span>
									</span>
								</a>
			</li>
			<li><ul class="tag_list_01">
										<li class="ico_tag_01">인기</li>
										<li class="ico_tag_02">할인</li>
										<li class="ico_tag_03">신상품</li>
										<li class="ico_tag_04">PB</li>
								</ul>
								<a href="#" class="btn_product_01"><img src="/front/img/product/temp/temp_product_01.jpg"  alt="사골미역국밥" /></a>
								<dl class="product_content">	
									<dt><span class="tit_product">사골미역국밥...</span>
										<span class="like_wrap_01">
											<span class="ico_like_01"><span class="hide">좋아요</span></span>
											<span class="ico_like_02">
												<span class="ico_like_02_in">22</span>
											</span>
										</span>
									</dt>
									<dd class="txt_product">초코별은 코코아 분말이 7.8%, 코코아매스가 1.3% 함유되어 있어...</dd>
									<dd class="price_list">
										
										<span>999,888원</span>
									</dd>
								</dl>
								<a href="#" class="btn_product_02">
									<img src="/front/img/product/temp/temp_product_02.jpg"  alt="증정 스윙칩" />
									<span class="ico_present hide">증정</span>
									<span class="product_layer">
										<strong>The 커진<br />삼각김밥 3종</strong>
										<span class="txt_price">999,888원</span>
										<span class="like_wrap">
											<span class="ico_like_01"><span class="hide">좋아요</span></span>
											<span class="ico_like_02">
												<span class="ico_like_02_in">22</span>
											</span>
										</span>
									</span>
								</a>
			</li>
			<li><ul class="tag_list_01">
										<li class="ico_tag_01">인기</li>
										<li class="ico_tag_02">할인</li>
										<li class="ico_tag_03">신상품</li>
										<li class="ico_tag_04">PB</li>
								</ul>
								<a href="#" class="btn_product_01"><img src="/front/img/product/temp/temp_product_01.jpg"  alt="사골미역국밥" /></a>
								<dl class="product_content">	
									<dt><span class="tit_product">사골미역국밥...</span>
										<span class="like_wrap_01">
											<span class="ico_like_01"><span class="hide">좋아요</span></span>
											<span class="ico_like_02">
												<span class="ico_like_02_in">22</span>
											</span>
										</span>
									</dt>
									<dd class="txt_product">초코별은 코코아 분말이 7.8%, 코코아매스가 1.3% 함유되어 있어...</dd>
									<dd class="price_list">
										
										<span>999,888원</span>
									</dd>
								</dl>
								<a href="#" class="btn_product_02">
									<img src="/front/img/product/temp/temp_product_02.jpg"  alt="증정 스윙칩" />
									<span class="ico_present hide">증정</span>
									<span class="product_layer">
										<strong>The 커진<br />삼각김밥 3종</strong>
										<span class="txt_price">999,888원</span>
										<span class="like_wrap">
											<span class="ico_like_01"><span class="hide">좋아요</span></span>
											<span class="ico_like_02">
												<span class="ico_like_02_in">22</span>
											</span>
										</span>
									</span>
								</a>
			</li>
			<li><ul class="tag_list_01">
										<li class="ico_tag_01">인기</li>
										<li class="ico_tag_02">할인</li>
										<li class="ico_tag_03">신상품</li>
										<li class="ico_tag_04">PB</li>
								</ul>
								<a href="#" class="btn_product_01"><img src="/front/img/product/temp/temp_product_01.jpg"  alt="사골미역국밥" /></a>
								<dl class="product_content">	
									<dt><span class="tit_product">사골미역국밥...</span>
										<span class="like_wrap_01">
											<span class="ico_like_01"><span class="hide">좋아요</span></span>
											<span class="ico_like_02">
												<span class="ico_like_02_in">22</span>
											</span>
										</span>
									</dt>
									<dd class="txt_product">초코별은 코코아 분말이 7.8%, 코코아매스가 1.3% 함유되어 있어...</dd>
									<dd class="price_list">
										
										<span>999,888원</span>
									</dd>
								</dl>
								<a href="#" class="btn_product_02">
									<img src="/front/img/product/temp/temp_product_02.jpg"  alt="증정 스윙칩" />
									<span class="ico_present hide">증정</span>
									<span class="product_layer">
										<strong>The 커진<br />삼각김밥 3종</strong>
										<span class="txt_price">999,888원</span>
										<span class="like_wrap">
											<span class="ico_like_01"><span class="hide">좋아요</span></span>
											<span class="ico_like_02">
												<span class="ico_like_02_in">22</span>
											</span>
										</span>
									</span>
								</a>
			</li>
			<li><ul class="tag_list_01">
										<li class="ico_tag_01">인기</li>
										<li class="ico_tag_02">할인</li>
										<li class="ico_tag_03">신상품</li>
										<li class="ico_tag_04">PB</li>
								</ul>
								<a href="#" class="btn_product_01"><img src="/front/img/product/temp/temp_product_01.jpg"  alt="사골미역국밥" /></a>
								<dl class="product_content">	
									<dt><span class="tit_product">사골미역국밥...</span>
										<span class="like_wrap_01">
											<span class="ico_like_01"><span class="hide">좋아요</span></span>
											<span class="ico_like_02">
												<span class="ico_like_02_in">22</span>
											</span>
										</span>
									</dt>
									<dd class="txt_product">초코별은 코코아 분말이 7.8%, 코코아매스가 1.3% 함유되어 있어...</dd>
									<dd class="price_list">
										
										<span>999,888원</span>
									</dd>
								</dl>
								<a href="#" class="btn_product_02">
									<img src="/front/img/product/temp/temp_product_02.jpg"  alt="증정 스윙칩" />
									<span class="ico_present hide">증정</span>
									<span class="product_layer">
										<strong>The 커진<br />삼각김밥 3종</strong>
										<span class="txt_price">999,888원</span>
										<span class="like_wrap">
											<span class="ico_like_01"><span class="hide">좋아요</span></span>
											<span class="ico_like_02">
												<span class="ico_like_02_in">22</span>
											</span>
										</span>
									</span>
								</a>
			</li>
			<li><ul class="tag_list_01">
										<li class="ico_tag_01">인기</li>
										<li class="ico_tag_02">할인</li>
										<li class="ico_tag_03">신상품</li>
										<li class="ico_tag_04">PB</li>
								</ul>
								<a href="#" class="btn_product_01"><img src="/front/img/product/temp/temp_product_01.jpg"  alt="사골미역국밥" /></a>
								<dl class="product_content">	
									<dt><span class="tit_product">사골미역국밥...</span>
										<span class="like_wrap_01">
											<span class="ico_like_01"><span class="hide">좋아요</span></span>
											<span class="ico_like_02">
												<span class="ico_like_02_in">22</span>
											</span>
										</span>
									</dt>
									<dd class="txt_product">초코별은 코코아 분말이 7.8%, 코코아매스가 1.3% 함유되어 있어...</dd>
									<dd class="price_list">
										
										<span>999,888원</span>
									</dd>
								</dl>
								<a href="#" class="btn_product_02">
									<img src="/front/img/product/temp/temp_product_02.jpg"  alt="증정 스윙칩" />
									<span class="ico_present hide">증정</span>
									<span class="product_layer">
										<strong>The 커진<br />삼각김밥 3종</strong>
										<span class="txt_price">999,888원</span>
										<span class="like_wrap">
											<span class="ico_like_01"><span class="hide">좋아요</span></span>
											<span class="ico_like_02">
												<span class="ico_like_02_in">22</span>
											</span>
										</span>
									</span>
								</a>
			</li>


			
			<li class="btn_more"><a href="#"><span>MORE</span></a></li>

		</ul>
	</div>
	<!-- //img_list E -->
	</xmp>
</div>
<!-- //여기서부터 코드 E -->

              <!--// g_content div -->
              </div>
              <!--// g_container div -->
        </div><!--// wgContent div -->
        
    </div><!--// wgContainer div  -->
    
</div><!--// wrapGuide div -->
</body>
</html>
