<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ko" xml:lang="ko">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="imagetoolbar" content="no" />
	<meta name="Author" content="http://www.7-eleven.co.kr/" />
	<meta name="keywords" content="7-ELEVEN, 세븐일레븐" />
	<meta name="description" content="세븐일레븐" />
	<title>서브레이아웃 | WELCOMELOAN | 세븐일레븐</title>
	<link rel="stylesheet" type="text/css" href="/front/com/css/cm.import.css" />
	<script type="text/javascript" src="/front/com/js/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="/front/com/js/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="/front/com/js/fn.rollSlide.js"></script>
	<script type="text/javascript" src="/front/com/js/cm.design.js"></script>
	<script type="text/javascript" src="/front/com/js/cm.jQuery.ui.js"></script>
</head>
<body>
	<div title="스킵메뉴" class="skipMenu">
		<a href="#container">본문 내용 바로가기</a>
	</div> <!-- //skipMenu -->
	<hr />

	<!-- //P, D : 해당 메뉴의 최상위 클래스 선언 -->
	<div id="wrap" class="sub eventend">
		<!-- HEADER s -->
		<div id="header">
			<div class="header_top">
				<div class="inner">
					<p class="logo"><a href="#"><img src="/front/img/com/logo.png" alt="7-ELEVEN"/></a></p>
					<!-- D: 해당페이지 1뎁스 li 에 active 추가-->
					<ul id="gnb">
						<li class="menu01 active"><a href="#"><img src="/front/img/com/gnb_01_off.png" alt="EVENT" /></a>
							<ul>
								<li><a href="#">진행중인 이벤트</a></li>
								<li><a href="#">완료된 이벤트</a></li>
							</ul>
						</li>
						<li class="menu02"><a href="#"><img src="/front/img/com/gnb_02_off.png" alt="PRODUCT" /></a>
							<ul>
								<li><a href="#">이달의 증정할인</a></li>
								<li><a href="#">PB상품</a></li>
								<li><a href="#">인기상품</a></li>
								<li><a href="#">예약도시락</a></li>
								<li><a href="#">할인쿠폰</a></li>
								<li><a href="#">할인·멤버십 카드</a></li>
								<li><a href="#">서비스안내</a></li>
								<li><a href="#">상품입점문의</a></li>
							</ul>
						</li>
						<li class="menu03"><a href="#"><img src="/front/img/com/gnb_03_off.png" alt="FRANCHISE" /></a>
							<ul>
								<li><a href="#">가맹가이드</a></li>
								<li><a href="#">사업설명회</a></li>
								<li><a href="#">가맹 FAQ</a></li>
								<li><a href="#">성공스토리</a></li>
								<li><a href="#">가맹점포</a></li>
								<li><a href="#">가맹상담</a></li>
							</ul>
						</li>
						<li class="menu04"><a href="#"><img src="/front/img/com/gnb_04_off.png" alt="7-story" /></a>
							<ul>
								<li><a href="#">7-STORY</a></li>
							</ul>
						</li>
						<li class="menu05"><a href="#"><img src="/front/img/com/gnb_05_off.png" alt="ABOUT 7-ELEVEN" /></a>
							<ul>
								<li><a href="#">회사소개</a></li>
								<li><a href="#">사회공헌</a></li>
								<li><a href="#">환경경영</a></li>
								<li><a href="#">채용안내</a></li>
								<li><a href="#">대학생마케터</a></li>
								<li><a href="#">고객지원</a></li>
							</ul>
						</li>
					</ul>
					<div class="head_util">
						<div class="utils">
							<a href="#"><span class="hide">세븐일레븐 유틸</span></a>
							<ul class="hide">
								<li><a href="#">상품입점문의</a></li>
								<li><a href="#">동반성장</a></li>
								<li><a href="#">E-CATALOG</a></li>
								<li><a href="#">설문조사</a></li>	
							</ul>
						</div><!-- //utils -->
						<a href="#" class="util_store"><span class="hide">store</span></a>
						<a href="#" class="btn_happy"><span class="hide">행복충전소</span><span class="info hide">경영주님을 위한 공간입니다 </span></a>
					</div><!-- //head_util -->
				</div><!-- //inner -->
			</div><!-- //header_top -->
			<div class="header_bottom">
				<div class="inner">
					<div class="line_map">
						<ul>
							<li><a href="#"><span class="hide">HOME</span></a></li>
							<li><a href="#">1DEPTH</a>
								<ul class="sub_menu">
									<li><a href="#">EVENT</a></li>
									<li><a href="#">PRODUCT</a></li>
									<li><a href="#">FRANCHISE</a></li>
									<li><a href="#">7-story</a></li>
									<li><a href="#">ABOUT 7-ELEVEN</a></li>
								</ul>
							</li>
							<li><a href="#">2DEPTH</a>
								<ul class="sub_menu">
									<li><a href="#">2DEPTH</a></li>
									<li><a href="#">2DEPTH</a></li>
									<li><a href="#">2DEPTH</a></li>
								</ul>
							</li>
							<li class="depth3 first active"><a href="#">CEO인사말</a></li>
							<li class="depth3"><a href="#">7-eleven</a></li>
							<li class="depth3"><a href="#">경영이념/비젼</a></li>
							<li class="depth3"><a href="#">회사연혁</a></li>
							<li class="depth3"><a href="#">오시는길</a></li>
						</ul>
					</div><!-- //line_map -->
					<div class="wrap_sns">
						<a href="#" title="페이스북으로 공유하기" class="sns_facebook"><span class="hide">페이스북</span></a>
						<a href="#" title="트위터으로 공유하기" class="sns_twiter"><span class="hide">트위터</span></a>
						<a href="#" title="현재 페이지 url 복사하기" class="sns_blog"><span class="hide">URL</span></a>
						
					</div><!-- //wrap_sns -->
				</div>
			</div><!-- //header_bottom -->
		</div><!-- //header -->
		<!-- HEADER e -->

		<!-- CONTAINER s -->
		<div id="container">
			<div class="title inner">
				<h1 class="tit_page">이달의 증정할인</h1>
				<p class="sub_copy">매월 새롭게 진행되는 다양한 행사상품으로 즐거움을 드립니다.</p>
			</div><!-- //title -->
			<div class="cont_top">
				<div class="inner">
					<ul class="tab_filter">
						<li class="on"><a href="#">지역별 정기사업설명회</a></li>
						<li><a href="#">예약제 사업설명회</a></li>
						<li><a href="#">예약제 사업설명회</a></li>
						<li><a href="#">예약제 사업설명회</a></li>
					</ul>
				</div>
			</div><!-- //cont_top -->

			<div class="cont_body">
				<div class="wrap_info">
					<div class="desc">
					요소별 &lt;div class="conSection"&gt;로 감싼다 - 여백 50px <br />
세부 요소별  &lt;div class="scBox"&gt; 로 감싼다 - 여백 30px<br />
세븐일레븐 프랜차이즈 시스템과 계약내용에 대한 자세한 설명으로 판단해주세요!

					</div>
				</div>
				<div class="conSection">
					<h2 class="tit_2depth">2dep Title</h2>
					<div class="txt">
						세븐일레븐은 고객본위, 독창성추구, 품질제일주의라는 롯데그룹 이념을 바탕으로 기업의 사회적 책임을 다하고, 이해관계자 및 국가와 인류의 공동이익을 추구하기 위하여 윤리경영을 실천하고, 이를 위해 회사와 임직원이 지켜야 할 윤리강령과 구체적인 실천지침을 제정하게 되었습니다.
					</div><!-- //txt -->
				</div><!-- //conSection -->
				<div class="conSection">
					<h2 class="tit_2depth">2dep Title</h2>
					<div class="txt">
						현대사회는 소비자 의식 성장과 정보화의 비약적 발전으로 한 기업의 비윤리적 행동은 기업의 영속 자체를 위협할 수 있는 수준이 되었고, 사회적 책임경영의 중요성이 날로 커지고 있습니다. 또한 윤리경영과 관련된 규제도 점차적으로 확대되고 있으며, 일례로 ISO26000(국제 표준기구 ISO재정, 조직의 사회책임 활동 증진 위한 국제표준 가이드라인)을 통해 기업의 사회적 책임을 검증 받을 것을 요구하고 있습니다. 이제 윤리경영의 실천은 선택이 아닌 필수이며, 당사 내부적으로도 기업활동의 사회적 영향력을 중시하고 동반성장 실천을 통해 고객과 이해관계자에게 신뢰받는 기업으로 성장하는데 많은 관심을 두고 있습니다.
					</div><!-- //txt -->
				</div><!-- //conSection -->
				<div class="conSection">
					<h2 class="tit_2depth">2dep Title</h2>
					<div class="wrap_table">
						<table class="table_info" summary="기획확인 요망">
							<caption>기획확인 요망</caption>
							<col width="25%" />
							<col width="25%" />
							<col width="25%" />
							<col width="25%" />
							<thead>
								<tr>
									<th scope="col"><span>구분</span></th>
									<th scope="col"><span>비윤리 경영<br />IMMORAL MANAGEMENT</span></th>
									<th scope="col"><span>탈윤리 경영<br />AMORAL MANAGEMENT</span></th>
									<th scope="col"><span>윤리 경영<br />MORAL MANAGEMENT</span></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row">
										<span class="td_cont">경제적 책임</span>
									</th>
									<td>
										<div class="td_cont">성장과 이윤 추구를 위해 탈법적<br />행위도 용인함</div>
									</td>
									<td rowspan="2">
										<div class="td_cont alL">
											<ul class="bul_cont_list type03">
												<li>합법의 테두리 내에서는 무엇을 해도 무방함</li>
												<li>기업행동의 사회적 영향력에 무관심</li>
											</ul>
										</div>
									</td>
									<td rowspan="3">
										<div class="td_cont">법적 책임이 없는 경우에도 <br />사회통념에 어긋나면 사회가 요구하는 <br />윤리적 기준을 선택함</div>
									</td>
								</tr>
								<tr>
									<th scope="row">
										<span class="td_cont">법적 책임</span>
									</th>
									<td>
										<div class="td_cont">- </div>
									</td>
								</tr>
								<tr>
									<th scope="row">
										<span class="td_cont">윤리적 책임</span>
									</th>
									<td>
										<div class="td_cont">- </div>
									</td>                        
									<td>
										<div class="td_cont">- </div>
									</td>
								</tr>
							</tbody>
						</table>
					</div><!-- //wrap_table -->
				</div><!-- //conSection -->
				<div class="conSection">
					<h2 class="tit_2depth">2dep Title | 3단 GRID</h2>
					<div class="split col3 emblem">
						<div class="colSec">
							<h3 class="tit_3depth">3dep Title</h3>
							<ul class="bul_cont_list type02">
								<li><span>고객에 대한 다짐</span></li>
								<li><span>주주에 대한 책임과 의무임직원의 기본윤리</span></li>
								<li><span>협력회사와의 올바른 관계</span></li>
								<li><span>국가와 사회에 대한 책임</span></li>
							</ul>
							<a href="#" class="btnSet btn_read">READ MORE</a>
						</div><!-- //colSec -->
						<div class="colSec">
							<h3 class="tit_3depth">3dep Title</h3>
							<ul class="bul_cont_list type02">
								<li><span>복무규정 등의 기본 규정의 준수</span></li>
								<li><span>회사임직원으로서의 품위 유지</span></li>
								<li><span>업무상 거래 업체로부터의 금전수수 금지</span></li>
								<li><span>직장내 성희롱 금지</span></li>
								<li><span>회사 자산, 재산에 대한 보호</span></li>
								<li><span>부적절한 대외 활동</span></li>
								<li><span>불공정 거래 금지</span></li>
							</ul>
							<a href="#" class="btnSet btn_read">READ MORE</a>
						</div><!-- //colSec -->
						<div class="colSec">
							<h3 class="tit_3depth">3dep Title 3dep Title <br />3dep Title 3dep Title 3dep Title</h3>
							<ul class="bul_cont_list type02">
								<li><span>신고자 보호 규정 : 불이익 금지, <br />징계감면 및 포상, 추적 금지 등 </span></li>
							</ul>
							<a href="#" class="btn_read">READ MORE</a>
						</div><!-- //colSec -->
					</div><!-- //split -->
				</div><!-- //conSection -->
				<div class="conSection">
					<h2 class="tit_2depth">실천제도</h2>
					<div class="scBox">
						<h3 class="tit_3depth">내부 실천제도</h3>
						<p class="txt_table_info"><span class="pointRe">*</span>표시는 필수입력</p>
						<div class="wrap_table">
							<table class="table_info" summary="기획확인 요망">
								<caption>기획확인 요망</caption>
								<col width="25%" />
								<col width="25%" />
								<col width="25%" />
								<col width="25%" />
								<thead>
									<tr>
										<th scope="col"><span>구분</span></th>
										<th scope="col"><span>비윤리 경영<br />IMMORAL MANAGEMENT</span></th>
										<th scope="col"><span>탈윤리 경영<br />AMORAL MANAGEMENT</span></th>
										<th scope="col"><span>윤리 경영<br />MORAL MANAGEMENT</span></th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<th scope="row">
											<span class="td_cont">경제적 책임</span>
										</th>
										<td>
											<div class="td_cont">성장과 이윤 추구를 위해 탈법적<br />행위도 용인함</div>
										</td>
										<td rowspan="2">
											<div class="td_cont alL">
												<ul class="bul_cont_list type03">
													<li>합법의 테두리 내에서는 무엇을 해도 무방함</li>
													<li>기업행동의 사회적 영향력에 무관심</li>
												</ul>
											</div>
										</td>
										<td rowspan="3">
											<div class="td_cont">법적 책임이 없는 경우에도 <br />사회통념에 어긋나면 사회가 요구하는 <br />윤리적 기준을 선택함</div>
										</td>
									</tr>
									<tr>
										<th scope="row">
											<span class="td_cont">법적 책임</span>
										</th>
										<td>
											<div class="td_cont">- </div>
										</td>
									</tr>
									<tr>
										<th scope="row">
											<span class="td_cont">윤리적 책임</span>
										</th>
										<td>
											<div class="td_cont">- </div>
										</td>
										<td>
											<div class="td_cont">- </div>
										</td>
									</tr>
								</tbody>
							</table>
						</div><!-- //wrap_table -->
					</div><!-- //scBox -->
					<div class="scBox">
						<h3 class="tit_3depth">내부 실천제도</h3>
						<div class="wrap_table">
							<table class="table_info" summary="기획확인 요망">
								<caption>기획확인 요망</caption>
								<col width="25%" />
								<col width="25%" />
								<col width="25%" />
								<col width="25%" />
								<thead>
									<tr>
										<th scope="col"><span>구분</span></th>
										<th scope="col"><span>비윤리 경영<br />IMMORAL MANAGEMENT</span></th>
										<th scope="col"><span>탈윤리 경영<br />AMORAL MANAGEMENT</span></th>
										<th scope="col"><span>윤리 경영<br />MORAL MANAGEMENT</span></th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<div class="td_cont">경제적 책임</div>
										</td>
										<td>
											<div class="td_cont">성장과 이윤 추구를 위해 탈법적<br />행위도 용인함</div>
										</td>
										<td>
											<div class="td_cont alL">
												<ul class="bul_cont_list">
													<li>합법의 테두리 내에서는 무엇을 해도 무방함</li>
													<li>기업행동의 사회적 영향력에 무관심</li>
												</ul>
											</div>
										</td>
										<td rowspan="3">
											<div class="td_cont">법적 책임이 없는 경우에도 <br />사회통념에 어긋나면 사회가 요구하는 <br />윤리적 기준을 선택함</div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="td_cont">경제적 책임</div>
										</td>
										<td>
											<div class="td_cont">- </div>
										</td>
										<td>
											<div class="td_cont">- </div>
										</td>
									</tr>
									<tr>
										<td>
											<div class="td_cont">경제적 책임</div>
										</td>
										<td>
											<div class="td_cont">- </div>
										</td>
										<td>
											<div class="td_cont">- </div>
										</td>
									</tr>
								</tbody>
							</table>
						</div><!-- //wrap_table -->
					</div><!-- //scBox -->
				</div><!-- //conSection -->
				<div class="conSection">
					<div class="wrap_area">
						<h2 class="tit_2depth type02">EVENT</h2>
						<p class="txt_info en">타이틀이 영문인경우 class="en" 국문인 경우 class="kr"</p>
					</div><!-- //wrap_area -->
				</div><!-- //conSection -->

				<div class="conSection">
					<div class="wrap_area">
						<h2 class="tit_2depth type02">다른 상품 보기</h2>
						<ul class="tab_layer02 kr">
							<li class="on"><a href="#">타이틀이 영문인경우 class="en" 국문인 경우 class="kr"</a></li>
							<li><a href="#">신상품</a></li>
							<li><a href="#">PB상품  </a></li>
							<li><a href="#">인기상품</a></li>
						</ul>
					</div><!-- //wrap_area -->
				</div><!-- //conSection -->

				<div class="wrap_tab">
					<ul class="tab_layer">
						<li class="on"><a href="#">본사</a></li>
						<li><a href="#">부산지점</a></li>
						<li><a href="#">대구지점</a></li>
						<li><a href="#">대전지점</a></li>
						<li><a href="#">광주지점</a></li>
						<li><a href="#">제주지점</a></li>
					</ul>
				</div> <!-- //wrap_tab -->
				<div class="conSection">
					<dl class="list_info">
						<dt class="first">정기 사업설명회</dt>
						<dd class="first">본사 사업설명회 : 서울 / 인천 / 경기 / 강원</dd>
						<dt>일시</dt>
						<dd>매주 월~금 14시 , 19시 / 토요일 10시</dd>
						<dt>장소</dt>
						<dd>서울특별시 중구 소월로 3 롯데손해보험빌딩 7층</dd>
						<dt>연락처</dt>
						<dd>1577-0711  또는 (02) 3284-8491~4</dd>
						<dt>오시는 길</dt>
						<dd>1호선 서울역 4번 출구에서 도보로 10분 / 4호선 회현역 5번 출구에서 도보로 5분</dd>
					</dl>
				</div><!-- //conSection -->
				<div class="conSection">
					<h2 class="tit_2depth type02">편의 서비스</h2>
					<div class="box_info">
						<ul class="list_service">
							<li><a href="#">생활편의</a></li>
							<li class="ico_service02"><a href="#">택배서비스</a></li>
							<li class="ico_service03"><a href="#">알뜰폰</a></li>
							<li class="ico_service04"><a href="#">공공요금수납</a></li>
							<li class="ico_service05"><a href="#">상품권판매</a></li>
						</ul>
					</div><!-- //box_info -->
				</div><!-- //conSection -->

				<div class="conSection">
					<h2 class="tit_2depth type02">베스트상품 TOP3</h2>
					<div class="wrap_rolling">
						<ul class="btn_roll">
							<li class=" btn_prev"><a href="#">이전 버튼</a></li>
							<li class="btn_next"><a href="#">다음 버튼</a></li>
						</ul>
						<div class="wrap_list col2">
							<!-- //D, P : 이벤트 리스트 동적 생성 -->
						</div> <!-- //wrap_list col2 -->
					</div><!-- //wrap_rolling -->
				</div><!-- //conSection -->
				<div class="conSection">
					<div class="btn_bbs">
						<a href="/guide/html/template/layerPop_01.html" class="btn_set btnRe layer_open">팝업 열기</a>	
					</div>
				</div><!-- //conSection -->
				

				
			</div><!-- //cont_bottom -->
		</div><!-- //container -->
		<!-- CONTAINER e -->
		

		<!-- FOOTER s -->
		<div id="footer">
			<div class="inner">
				<div class="footer_top">
					<dl class="footer_util">
						<dt>CUSTOMER</dt>
						<dd>
							<ul>
								<li><a href="#">고객지원</a></li>
								<li><a href="#">채용문의</a></li>
								<li><a href="#">창업상담</a></li>
								<li><a href="#">입점문의</a></li>
							</ul>
						</dd>
						<dt>RECRUIT </dt>
						<dd>
							<ul>
								<li><a href="#">기업채용</a></li>
								<li><a href="#">대학생마케터</a></li>
								<li><a href="#">MATE</a></li>
							</ul>
						</dd>
					</dl>

					<div class="wrap_site">
						<strong><a href="#">Family Site</a></strong>
						<ul>
							<li><a href="#">롯데그룹</a></li>
							<li><a href="#">롯데타운</a></li>
							<li><a href="#">롯데채용센터</a></li>
							<li><span>롯데제과</span>
								<ul>
									<li><a href="#">- 헬스원</a></li>
								</ul>
							</li>
							<li><a href="#">롯데칠성음료</a></li>
						</ul>
						<a href="#" class="btn_go">GO</a>
					</div><!-- //wrap_site -->
				</div><!-- //footer_top -->
				<div class="footer_body">
					<div class="qr"><img src="/front/img/com/qr.gif" alt="세븐일레븐 QR코드, 스마트폰으로 스캔하면 세븐일레븐 모바일 사이트(http://)로 연결" /></div>
					<div class="cont_footer">
						<ul>
							<li><a href="#">사이트맵</a></li>
							<li class="poly"><a href="#">개인정보취급방침</a></li>
							<li><a href="#">CEO 신문고</a></li>
							<li><a href="#">롯데멤버스카드</a></li>
							<li><a href="#">롯데올쉐이프</a></li>
							<li><a href="#">친환경소비페스티벌</a></li>
						</ul>
						<address>
							서울특별시 중구 소월로 3 롯데손해보험빌딩 7층 <span class="tel">TEL 1577-0711</span> / <span class="fax">FAX 02-2679-6860 </span>
						</address>
						<p class="copy">COPYRIGHT 2014 KOREA SEVEN CO, LTD. All Rights Reserved.</p>
					</div><!-- //cont_footer -->
					<div class="wrap_etc">
						<a href="#" class="facebook" title="페이스북으로 이동"><span class="hide">페이스북</span></a>
						<a href="#" class="twiter" title="트위터로 이동"><span class="hide">트위터</span></a>
						<a href="#" class="blog" title="블로그로 이동"><span class="hide">블로그</span></a>
						<a href="#" class="instar" title="인스타그램으로 이동"><span class="hide">인스타그램</span></a>
						<p class="logo_footer"><span class="hide">7-ELEVEN</span></p>
					</div><!-- //wrap_etc -->
				</div><!-- //footer_body -->
			</div><!-- //inner -->
		</div><!-- //footer -->
		<!-- FOOTER e -->
	</div><!-- //wrap -->
</body>
</html>
