<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ko">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>- 샘플링 | WELCOMELOAN PUBLISHING GUIDE -</title>
<link rel="stylesheet" type="text/css" href="/guide/com/css/guide.css" />
<script type="text/javascript" src="../../com/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="/pb/fr/com/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="../../com/js/d_jquery.js"></script>
<script type="text/javascript" src="../../com/js/d_menu.js"></script>
<link rel="stylesheet" type="text/css" href="/pb/fr/com/css/cm.import.css"></script>
<script type="text/javascript" src="/pb/fr/com/js/cm.jQuery.ui.js"></script>
</head>

<body>

<div title="스킵메뉴" class="skipMenu">
	<a href="#wgHeader">주 메뉴 바로가기</a>
    <a href="#wgContainer">본문 내용 바로가기</a>
</div>
<hr />
<div id="wrapGuide">
	<!-- HEADER s --><script type="text/javascript">TopArea();gnbBox_init(3);</script><!-- HEADER e //-->
    <hr />
    <div id="wgContainer" class="layout2 clfix">
    	<!-- LNB s --><script type="text/javascript">LeftMenuSAM();lnb_menu('2','4');</script><!-- LNB e //-->
        <div id="wgContent" class="clfix">
        	<div class="titArea">
            	<h1>개인정보 입력폼</h1>
                <!--<p><script type="text/javascript">map.print(1,1,1);</script></p> -->
            </div>

		  <!-- //여기서부터 내용 S -->
            <div id="g_container" class="wgDsc">
            	<p class="status"><strong>개인정보 입력폼</strong></p>
				<div class="input_form input_type02">
					<form action="" method="post">
						<fieldset>
							<legend>개인정보 입력폼</legend>
							<dl>
								<dt>
									<span class="req02">
										<label for="userName">대출계좌번호</label>
										<strong><span class="hide">필수입력</span></strong>
									</span>
								</dt>
								<dd>
									<select id="telNum1" title="대출계좌번호" class="keyword_sel" style="width:290px;">
										<option value="">125-45-678900</option>
										<option value="">125-45-678900</option>
										<option value="">125-45-678900</option>
									</select>
								</dd>
								<dt>
									<span class="req02">
										<label for="telNum1">현재결제일</label>
									</span>
								</dt>
								<dd>
									<span>05일</span>
								</dd>
								<dt>
									<span class="req02">
										<label for="telNum1">변경요청 결제일</label>
										<strong><span class="hide">필수입력</span></strong>
									</span>
								</dt>
								<dd>
									<select id="telNum1" title="변경요청 결제일 선택" class="keyword_sel" style="width:110px;">
										<option value="">11일</option>
										<option value="">11일</option>
										<option value="">11일</option>
									</select>
								</dd>
							</dl>
						</fieldset>
					</form>
				</div>
				
				
					
					<!-- //여기서부터 내용 E -->
<!-- //여기서부터 코드 S -->
<div id="cordBox1" class="cordBox type01 tag">
	<xmp>
	<div class="input_form input_type02">
		<form action="" method="post">
			<fieldset>
				<legend>개인정보 입력폼</legend>
				<dl>
					<dt>
						<span class="req02">
							<label for="userName">대출계좌번호</label>
							<strong><span class="hide">필수입력</span></strong>
						</span>
					</dt>
					<dd>
						<select id="telNum1" title="대출계좌번호" class="keyword_sel" style="width:290px;">
							<option value="">125-45-678900</option>
							<option value="">125-45-678900</option>
							<option value="">125-45-678900</option>
						</select>
					</dd>
					<dt>
						<span class="req02">
							<label for="telNum1">현재결제일</label>
						</span>
					</dt>
					<dd>
						<span>05일</span>
					</dd>
					<dt>
						<span class="req02">
							<label for="telNum1">변경요청 결제일</label>
							<strong><span class="hide">필수입력</span></strong>
						</span>
					</dt>
					<dd>
						<select id="telNum1" title="변경요청 결제일 선택" class="keyword_sel" style="width:110px;">
							<option value="">11일</option>
							<option value="">11일</option>
							<option value="">11일</option>
						</select>
					</dd>
				</dl>
			</fieldset>
		</form>
	</div>
	</xmp>
</div>
<!-- //여기서부터 코드 E -->


            

        
    </div><!--// wgContainer div  -->
    
</div><!--// wrapGuide div -->
</body>
</html>
