<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ko">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>- 샘플링 | WELCOMELOAN PUBLISHING GUIDE -</title>
<link rel="stylesheet" type="text/css" href="/guide/com/css/guide.css" />
<script type="text/javascript" src="../../com/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="/front/com/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="../../com/js/d_jquery.js"></script>
<script type="text/javascript" src="../../com/js/d_menu.js"></script>
<link rel="stylesheet" type="text/css" href="/pb/fr/com/css/cm.import.css"></script>
<script type="text/javascript" src="/front/com/js/cm.jQuery.ui.js"></script>
</head>

<body>

<div title="스킵메뉴" class="skipMenu">
	<a href="#wgHeader">주 메뉴 바로가기</a>
    <a href="#wgContainer">본문 내용 바로가기</a>
</div>
<hr />
<div id="wrapGuide">
	<!-- HEADER s --><script type="text/javascript">TopArea();gnbBox_init(3);</script><!-- HEADER e //-->
    <hr />
    <div id="wgContainer" class="layout2 clfix">
    	<!-- LNB s --><script type="text/javascript">LeftMenuSAM();lnb_menu('2','3');</script><!-- LNB e //-->
        <div id="wgContent" class="clfix">
        	<div class="titArea">
            	<h1>박스형 검색박스</h1>
                <!--<p><script type="text/javascript">map.print(1,1,1);</script></p> -->
            </div>

			<!-- //여기서부터 내용 S -->
            <div id="g_container" class="wgDsc">
            	<p class="status"><strong>박스형 검색박스</strong></p>
				<div class="wrap_box_search">
					<form action="" method="post">
						<fieldset>
							<legend>키워드 검색</legend>
							<select title="키워드 분류선택" style="width:98px;">
								<option value="">전체</option>
								<option value="">대출신청</option>
								<option value="">대출상환</option>
								<option value="">계약서 작성방법</option>
								<option value="">사이트 이용</option>
								<option value="">기타</option>
							</select>
							<input type="text" title="검색어 입력" style="width:580px;" />
							<a href="#" class="btn_set btnSrc">조회</a>
						</fieldset>
					</form>
				</div><!-- wrap_box_search -->
				
				
					
					<!-- //여기서부터 내용 E -->
<!-- //여기서부터 코드 S -->
<div id="cordBox1" class="cordBox type01 tag">
	<xmp>
<div class="wrap_box_search">
	<form action="" method="post">
		<fieldset>
			<legend>키워드 검색</legend>
			<select title="키워드 분류선택" style="width:98px;">
				<option value="">전체</option>
				<option value="">대출신청</option>
				<option value="">대출상환</option>
				<option value="">계약서 작성방법</option>
				<option value="">사이트 이용</option>
				<option value="">기타</option>
			</select>
			<input type="text" title="검색어 입력" style="width:580px;" />
			<a href="#" class="btn_set btnSrc">조회</a>
		</fieldset>
	</form>
</div><!-- wrap_box_search -->
	</xmp>
</div>
<!-- //여기서부터 코드 E -->


              <!--// g_content div -->
              </div>
              <!--// g_container div -->
        </div><!--// wgContent div -->


        
    </div><!--// wgContainer div  -->
    
</div><!--// wrapGuide div -->
</body>
</html>
