<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ko">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>- 샘플링 | WELCOMELOAN PUBLISHING GUIDE -</title>
<link rel="stylesheet" type="text/css" href="/guide/com/css/guide.css" />
<script type="text/javascript" src="../../com/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="/front/com/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="../../com/js/d_jquery.js"></script>
<script type="text/javascript" src="../../com/js/d_menu.js"></script>
<link rel="stylesheet" type="text/css" href="/pb/fr/com/css/cm.import.css"></script>
</head>

<body>

<div title="스킵메뉴" class="skipMenu">
	<a href="#wgHeader">주 메뉴 바로가기</a>
    <a href="#wgContainer">본문 내용 바로가기</a>
</div>
<hr />
<div id="wrapGuide">
	<!-- HEADER s --><script type="text/javascript">TopArea();gnbBox_init(3);</script><!-- HEADER e //-->
    <hr />
    <div id="wgContainer" class="layout2 clfix">
    	<!-- LNB s --><script type="text/javascript">LeftMenuSAM();lnb_menu('2','1');</script><!-- LNB e //-->
        <div id="wgContent" class="clfix">
        	<div class="titArea">
            	<h1>데이터 목록</h1>
                <!--<p><script type="text/javascript">map.print(1,1,1);</script></p> -->
            </div>

			<!-- //여기서부터 내용 S -->
            <div id="g_container" class="wgDsc">
            	<p class="status"><strong>데이터 테이블 </strong></p>
				<div class="wrap_table">
						<table class="table_info" summary="기획확인 요망">
							<caption>기획확인 요망</caption>
							<colgroup>
								<col width="7%" />
								<col width="20%" />
								<col width="12%" />
								<col width="12%" />
								<col width="13%" />
								<col width="19%" />
								<col width="16%" />
							</colgroup>
							<thead>
								<tr>
									<th scope="col"><span>순번</span></th>
									<th scope="col">대출번호</th>
									<th scope="col">구분</th>
									<th scope="col">처리단계</th>
									<th scope="col">승인일자</th>
									<th scope="col">대출금액</th>
									<th scope="col">확인</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row">3</th>
									<td>WEL20140813001</td>
									<td>신규계약</td>
									<td><p>계약완료</p></td>
									<td>2014.08.13</td>
									<td class="alR"><p>2,500,000원</p></td>
									<td><a href="#" class="btn_set btnGy">계약서보기</a></td>
								</tr>
								<tr>
									<th scope="row">2</th>
									<td>WEL20140813001</td>
									<td>신규계약</td>
									<td><p>계약완료</p></td>
									<td>2014.08.13</td>
									<td class="alR"><p>2,500,000원</p></td>
									<td><a href="#" class="btn_set btnGy">계약서보기</a></td>
								</tr>
								<tr>
									<th scope="row">1</th>
									<td>WEL20140813001</td>
									<td>신규계약</td>
									<td><p>계약완료</p></td>
									<td>2014.08.13</td>
									<td class="alR"><p>2,500,000원</p></td>
									<td><a href="#" class="btn_set btnGy">계약서보기</a></td>
								</tr>
							</tbody>
						</table>
					</div>
				
					
					
					<!-- //여기서부터 내용 E -->
<!-- //여기서부터 코드 S -->
<div id="cordBox1" class="cordBox type01 tag">
	<xmp>

				<div class="wrap_table">
						<table class="table_info" summary="기획확인 요망">
							<caption>기획확인 요망</caption>
							<colgroup>
								<col width="7%" />
								<col width="20%" />
								<col width="12%" />
								<col width="12%" />
								<col width="13%" />
								<col width="19%" />
								<col width="16%" />
							</colgroup>
							<thead>
								<tr>
									<th scope="col"><span>순번</span></th>
									<th scope="col">대출번호</th>
									<th scope="col">구분</th>
									<th scope="col">처리단계</th>
									<th scope="col">승인일자</th>
									<th scope="col">대출금액</th>
									<th scope="col">확인</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row">3</th>
									<td>WEL20140813001</td>
									<td>신규계약</td>
									<td><p>계약완료</p></td>
									<td>2014.08.13</td>
									<td class="alR"><p>2,500,000원</p></td>
									<td><a href="#" class="btn_set btnGy">계약서보기</a></td>
								</tr>
								<tr>
									<th scope="row">2</th>
									<td>WEL20140813001</td>
									<td>신규계약</td>
									<td><p>계약완료</p></td>
									<td>2014.08.13</td>
									<td class="alR"><p>2,500,000원</p></td>
									<td><a href="#" class="btn_set btnGy">계약서보기</a></td>
								</tr>
								<tr>
									<th scope="row">1</th>
									<td>WEL20140813001</td>
									<td>신규계약</td>
									<td><p>계약완료</p></td>
									<td>2014.08.13</td>
									<td class="alR"><p>2,500,000원</p></td>
									<td><a href="#" class="btn_set btnGy">계약서보기</a></td>
								</tr>
							</tbody>
						</table>
					</div>

	</xmp>
</div>
<!-- //여기서부터 코드 E -->


              <!--// g_content div -->
              </div>
              <!--// g_container div -->
        </div><!--// wgContent div -->


        
    </div><!--// wgContainer div  -->
    
</div><!--// wrapGuide div -->
</body>
</html>
